Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

build-setup-scripts:
  name: build setup scripts
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-build-setup-files.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2
  - toml
  - ruff

lint:
  name: linting and formatting
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-lint.sh
  language: python
  require_serial: true
  verbose: true

mypy:
  name: mypy
  stages:
  - pre-commit
  - pre-merge-commit
  entry: ./scripts/pre-commit-mypy-run.sh
  language: python
  additional_dependencies: []
  require_serial: true
  verbose: true

check-license-headers:
  name: check license headers
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: python ./scripts/pre-commit-license-check.py
  language: python

generate-devcontainer-files:
  name: Generate devcontainer files
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/devcontainer/generate-devcontainers.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2

updates from pre-commit
  test/oai/test_gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: MCPClientSessionManager class for multi-stdio sessions
  autogen/mcp/mcp_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix patch client session
  test/mcp/test_mcp.py
  test/mcp/test_mcp_proxy.py
Due: build-setup-scripts, lint, mypy, check-license-headers

updated test cases
  test/oai/test_gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

moving test case up the order
  test/oai/test_gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

updates on test cases for test_gemini.py
  test/oai/test_gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix build mkdocs
  pyproject.toml
  test/mcp/test_mcp.py
  test/mcp/test_mcp_proxy.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix existing tests
  test/mcp/test_mcp.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix errored tests
  test/mcp/test_mcp.py
Due: build-setup-scripts, lint, mypy, check-license-headers

add new tests for MCPClientSessionManager
  test/mcp/test_mcp.py
  test/mcp/test_mcp_proxy.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update version.py
  autogen/version.py
Due: build-setup-scripts, lint, mypy, check-license-headers

add AsyncExitStack
  autogen/mcp/mcp_client.py
  notebook/agentchat_mcp_mcp_client_session_manager.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix remove wrong test
  test/mcp/test_mcp.py
Due: build-setup-scripts, lint, mypy, check-license-headers

remove commented code
  notebook/agentchat_mcp_client_session_manager.py
Due: build-setup-scripts, lint, mypy

updates
  test/oai/test_gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

pre-commit updates
  test/oai/test_gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Docs:[Grok usecase] Analysis on large SBOMs
  notebook/agentchat_grok_sbom_analysis.ipynb
  test/test_notebook.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: formatting
  notebook/agentchat_grok_sbom_analysis.ipynb
Due: none

Move schedule for workflows requiring review to weekly from daily
  .github/workflows/contrib-graph-rag-tests.yml
  .github/workflows/contrib-llm-test.yml
  .github/workflows/core-llm-test.yml
  .github/workflows/integration-test.yml
Due: none

fix: Correct variable name in generate_mkdocs.py
  autogen/_website/generate_mkdocs.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: move up tool message check
  autogen/agentchat/conversable_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

lint: fix ExceptionGroup imports
  autogen/fast_depends/_compat.py
  pyproject.toml
Due: build-setup-scripts, lint, mypy, check-license-headers

docs: add CONTRIBUTING.md refers documentation
  CONTRIBUTING.md
Due: none

lint: fix mypy
  notebook/autobuild_agent_library.ipynb
  notebook/autobuild_basic.ipynb
  pyproject.toml
  test/agentchat/contrib/test_swarm.py
  test/oai/test_gemini_types.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: Add YepCode secure sandbox code executor
  autogen/coding/__init__.py
  autogen/coding/factory.py
  autogen/coding/yepcode_code_executor.py
  notebook/agentchat_yepcode_executor.ipynb
  pyproject.toml
  test/coding/test_yepcode_executor.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: drop python3.9 support
  pyproject.toml
Due: none

lint: enable pyupgrade ruff rull
  pyproject.toml
Due: none

Add yepcode to website docs
  website/docs/installation/Optional-Dependencies.mdx
  website/docs/user-guide/advanced-concepts/code-execution.mdx
  website/docs/user-guide/basic-concepts/installing-ag2.mdx
Due: none

ci: drop python 3.9
  .devcontainer/devcontainer.json
  .devcontainer/python-3.10/devcontainer.json
  .github/workflows/contrib-graph-rag-tests.yml
  .github/workflows/contrib-test.yml
  .github/workflows/core-llm-test.yml
  .github/workflows/core-test.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test-with-optional-deps.yml
  .github/workflows/type-check.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  scripts/devcontainer/generate-devcontainers.py
  setup.jinja
  setup_autogen.py
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/index.mdx
  website/docs/home/quickstart.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

tests: fix get_annotated_type_for_event_classes
  autogen/events/base_event.py
  autogen/messages/base_message.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat:[McpSessionManager] can manage SSE and Stdio session both
  autogen/mcp/mcp_client.py
  notebook/agentchat_mcp_client_session_manager.py
  test/mcp/test_mcp.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix linter and other precommit issues
  .github/workflows/pr-checks.yml
  autogen/coding/__init__.py
  autogen/coding/base.py
  autogen/coding/yepcode_code_executor.py
  notebook/agentchat_yepcode_executor.ipynb
  setup_autogen.py
  test/coding/test_yepcode_executor.py
Due: build-setup-scripts, lint, mypy, check-license-headers

tests: fix Union usage
  autogen/llm_config.py
  autogen/messages/agent_messages.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Upgrade yepcode-run to only require python 3.11
  pyproject.toml
Due: none

docs: polish badges
  README.md
  website/docs/home/quickstart.mdx
Due: none

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet
