Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

build-setup-scripts:
  name: build setup scripts
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-build-setup-files.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2
  - toml
  - ruff

lint:
  name: linting and formatting
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-lint.sh
  language: python
  require_serial: true
  verbose: true

mypy:
  name: mypy
  stages:
  - pre-commit
  - pre-merge-commit
  entry: ./scripts/pre-commit-mypy-run.sh
  language: python
  additional_dependencies: []
  require_serial: true
  verbose: true

check-license-headers:
  name: check license headers
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: python ./scripts/pre-commit-license-check.py
  language: python

generate-devcontainer-files:
  name: Generate devcontainer files
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/devcontainer/generate-devcontainers.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2

fix: recipient messages
  autogen/oai/openai_responses.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: add groupchat example for apply_patch
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test: normalize message
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: none

fix: remove debug prints
  autogen/oai/openai_responses.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

Revert anthropic.py
  autogen/oai/anthropic.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: notebook
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: none

Remove unused project.py
  notebook/project.py
Due: build-setup-scripts, lint, mypy

fix: pre-commits
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Notebook tweak
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: none

Reset anthropic.py to main
  autogen/oai/anthropic.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test: normalization
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

remove duplicated tests
  autogen/tools/apply_patch_tool.py
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: move apply patch tool to tools/experimentals
  autogen/tools/apply_patch_tool.py
  autogen/tools/experimental/apply_patch/apply_patch_tool.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  test/tools/test_apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs: apply_patch_tool.mdx
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  website/docs/user-guide/advanced-concepts/tools/experimentals/apply_patch_tool.mdx
Due: none

fix: improve docstrings
  autogen/tools/experimental/apply_patch/apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Ffx: path validation security
  autogen/tools/experimental/apply_patch/apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: fnmatch
  autogen/tools/experimental/apply_patch/apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: aiofiles for true async
  autogen/tools/experimental/apply_patch/apply_patch_tool.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: type ignores
  autogen/tools/experimental/apply_patch/apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: operation type validation
  autogen/oai/openai_responses.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: tests
  autogen/tools/experimental/apply_patch/apply_patch_tool.py
  test/tools/test_apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: use run and initiate_chat in notebook
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: none

fix: delete apply patch.mdx
  website/docs/user-guide/advanced-concepts/tools/experimentals/apply_patch_tool.mdx
Due: none

fix: test
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: readme
  autogen/tools/experimental/apply_patch/README.md
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: readme
  autogen/tools/experimental/apply_patch/README.md
Due: none

Update
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: none

fix: notebook and ConfigEntry
  autogen/oai/client.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  test/tools/test_apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add shell tool executor
  autogen/tools/shell_tool.py
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add shell_tool support in oai responses
  autogen/oai/openai_responses.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: missing commands
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add sandboxing support
  autogen/oai/openai_responses.py
  autogen/tools/shell_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: documentation
  autogen/oai/openai_responses.py
  autogen/tools/shell_tool.py
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: move apply patch tool to experimentals
  autogen/tools/shell_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: tight patterns
  autogen/tools/shell_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: rebase
  autogen/oai/openai_responses.py
  autogen/tools/experimental/shell_tool/shell_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: shell dir name
  autogen/oai/openai_responses.py
  autogen/tools/experimental/shell_tool/shell_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: circular imports
  autogen/oai/openai_responses.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test: shell call id & output & normalisation
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test: naming conventions
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet
