Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

build-setup-scripts:
  name: build setup scripts
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-build-setup-files.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2
  - toml
  - ruff

lint:
  name: linting and formatting
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-lint.sh
  language: python
  require_serial: true
  verbose: true

mypy:
  name: mypy
  stages:
  - pre-commit
  - pre-merge-commit
  entry: ./scripts/pre-commit-mypy-run.sh
  language: python
  additional_dependencies: []
  require_serial: true
  verbose: true

check-license-headers:
  name: check license headers
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: python ./scripts/pre-commit-license-check.py
  language: python

generate-devcontainer-files:
  name: Generate devcontainer files
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/devcontainer/generate-devcontainers.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2

improved test coverage
  test/oai/test_client_utils.py
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

#2017 replace asyncer to anyio
  autogen/environments/docker_python_environment.py
Due: build-setup-scripts, lint, mypy, check-license-headers

#2017 replace asyncer to anyio
  autogen/environments/system_python_environment.py
Due: build-setup-scripts, lint, mypy, check-license-headers

#2017 replace asyncer to anyio
  autogen/environments/venv_python_environment.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add print block for issue #2036
  notebook/agentchat_gpt-5_verbosity_example.ipynb
Due: none

fix(notebook): update example print block for #2036
  notebook/agentchat_gpt-5_verbosity_example.ipynb
Due: none

Fix markdown formatting in GPT-5 verbosity example notebook
  notebook/agentchat_gpt-5_verbosity_example.ipynb
Due: none

Bugfix: Auto-selection during manual selection group chat causes exception
  autogen/agentchat/groupchat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update graphrag_trip_planne notebook
  notebook/agentchat_groupchat_graphrag_trip_planner.ipynb
Due: none

fix lint errors
  notebook/agentchat_groupchat_graphrag_trip_planner.ipynb
Due: none

fix: tool response printing throws pydantic error
  autogen/events/agent_events.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: intra agent-loop messages tool_call_id continuity.
  autogen/agentchat/contrib/multimodal_conversable_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: remove debugging print statements
  autogen/agentchat/contrib/multimodal_conversable_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Linting fixes
  autogen/coding/yepcode_code_executor.py
Due: build-setup-scripts, lint, mypy, check-license-headers

changed autogen to ag2
  notebook/agentchat_webscraping_with_oxylabs.ipynb
Due: none

Update to use graphrag_sdk 0.8.0
  autogen/agentchat/contrib/graph_rag/falkor_graph_query_engine.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update version checking to be non-string comparison
  autogen/import_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Restore ignore
  autogen/import_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: fix version compare in autogen/import_utils
  autogen/import_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: test didn't passed due to NoneType or AnyType Version
  autogen/import_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test: add package conflict tests
  test/test_import_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor: messages
  autogen/agentchat/groupchat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Bump version to 0.9.9
  autogen/version.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix for checking package versions when __version__ is a module.
  autogen/import_utils.py
  test/test_import_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix linter from removing import for test
  test/test_import_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: remove temperature & top_p restriction
  autogen/llm_config/entry.py
Due: build-setup-scripts, lint, mypy, check-license-headers

tests: remove temperature & top_p validations
  test/oai/test_cerebras.py
  test/oai/test_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: remove useless
  autogen/remote/__init__.py
  autogen/remote/agent.py
  autogen/remote/runtime.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: revert protobug update
  pyproject.toml
Due: none

chore: remove useless python versions check
  autogen/cache/abstract_cache_base.py
  autogen/cache/disk_cache.py
  autogen/cache/in_memory_cache.py
  autogen/cache/redis_cache.py
  autogen/coding/docker_commandline_code_executor.py
  autogen/coding/jupyter/docker_jupyter_server.py
  autogen/coding/jupyter/jupyter_client.py
  autogen/coding/jupyter/jupyter_code_executor.py
  autogen/coding/jupyter/local_jupyter_server.py
  autogen/tools/dependency_injection.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: remove commented
  autogen/agentchat/conversable_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: remove too old deprecated
  autogen/agentchat/contrib/retrieve_assistant_agent.py
  autogen/coding/local_commandline_code_executor.py
  autogen/oai/__init__.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: revert LLMConfig
  autogen/agentchat/conversable_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Agent orchestrator/ aligner with custom speaker selection
  notebook/agentchat_orchestrating_multi_agent_workflows.ipynb
Due: none

Add interactive WebSocket UI and FastAPI backend for Groupchat
  notebook/agentchat_fastapi_websocket/README.md
  notebook/agentchat_fastapi_websocket/dependencies.py
  notebook/agentchat_fastapi_websocket/docs/USAGE_GUIDE.md
  notebook/agentchat_fastapi_websocket/docs/screenshot.png
  notebook/agentchat_fastapi_websocket/docs/usage_screenshot.png
  notebook/agentchat_fastapi_websocket/helpers.py
  notebook/agentchat_fastapi_websocket/main.py
  notebook/agentchat_fastapi_websocket/managers/cancellation_token.py
  notebook/agentchat_fastapi_websocket/managers/connection.py
  notebook/agentchat_fastapi_websocket/managers/groupchat.py
  notebook/agentchat_fastapi_websocket/managers/prompts.py
  notebook/agentchat_fastapi_websocket/requirements.txt
  notebook/agentchat_fastapi_websocket/templates/index.html
  notebook/agentchat_fastapi_websocket/ws.py
Due: build-setup-scripts, lint, mypy

fix: Add interactive WebSocket UI and FastAPI backend for Groupchat
  notebook/agentchat_fastapi_websocket/README.md
  notebook/agentchat_fastapi_websocket/dependencies.py
  notebook/agentchat_fastapi_websocket/docs/USAGE_GUIDE.md
  notebook/agentchat_fastapi_websocket/helpers.py
  notebook/agentchat_fastapi_websocket/main.py
  notebook/agentchat_fastapi_websocket/managers/cancellation_token.py
  notebook/agentchat_fastapi_websocket/managers/connection.py
  notebook/agentchat_fastapi_websocket/managers/groupchat.py
  notebook/agentchat_fastapi_websocket/managers/prompts.py
  notebook/agentchat_fastapi_websocket/templates/index.html
  notebook/agentchat_fastapi_websocket/ws.py
Due: build-setup-scripts, lint, mypy

fix whitespaces
  notebook/agentchat_orchestrating_multi_agent_workflows.ipynb
Due: none

added pip install ag2[openai] and comment for response template
  notebook/agentchat_orchestrating_multi_agent_workflows.ipynb
Due: none

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet
