Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

build-setup-scripts:
  name: build setup scripts
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-build-setup-files.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2
  - toml
  - ruff

lint:
  name: linting and formatting
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-lint.sh
  language: python
  require_serial: true
  verbose: true

mypy:
  name: mypy
  stages:
  - pre-commit
  - pre-merge-commit
  entry: ./scripts/pre-commit-mypy-run.sh
  language: python
  additional_dependencies: []
  require_serial: true
  verbose: true

check-license-headers:
  name: check license headers
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: python ./scripts/pre-commit-license-check.py
  language: python

generate-devcontainer-files:
  name: Generate devcontainer files
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/devcontainer/generate-devcontainers.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2

fix: update parents[] depth for new _website location
  website/mkdocs/_website/generate_api_references.py
  website/mkdocs/_website/generate_mkdocs.py
  website/mkdocs/_website/process_notebooks.py
Due: build-setup-scripts, lint, mypy

fix: speed up test_sensitive_output_is_sanitized using pytester
  test/test_conftest.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: clean up test fixtures and website import formatting
  pyproject.toml
  test/agentchat/contrib/graph_rag/test_neo4j_graph_rag.py
  test/agentchat/contrib/rag/test_chromadb_query_engine.py
  test/agentchat/contrib/rag/test_llamaindex_query_engine.py
  test/agentchat/contrib/rag/test_mongodb_query_engine.py
  website/mkdocs/_website/generate_api_references.py
  website/mkdocs/_website/generate_mkdocs.py
  website/mkdocs/_website/process_notebooks.py
  website/mkdocs/create_api_docs.py
  website/mkdocs/docs.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta)!: replace ModelResponse usage dict with Usage dataclass
  autogen/beta/config/anthropic/mappers.py
  autogen/beta/config/dashscope/dashscope_client.py
  autogen/beta/config/gemini/gemini_client.py
  autogen/beta/config/gemini/mappers.py
  autogen/beta/config/ollama/ollama_client.py
  autogen/beta/config/openai/mappers.py
  autogen/beta/events/__init__.py
  autogen/beta/events/types.py
  autogen/beta/middleware/builtin/telemetry.py
  test/beta/config/anthropic/test_anthropic_usage.py
  test/beta/config/gemini/test_gemini_usage.py
  test/beta/config/openai/test_openai_responses_usage.py
  test/beta/config/openai/test_openai_usage.py
  test/beta/middleware/telemetry/test_telemetry.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(beta)!: scope Anthropic web tool versions to schemas
  autogen/beta/config/anthropic/anthropic_client.py
  autogen/beta/config/anthropic/config.py
  autogen/beta/config/anthropic/mappers.py
  autogen/beta/tools/__init__.py
  autogen/beta/tools/builtin/__init__.py
  autogen/beta/tools/builtin/web_fetch.py
  autogen/beta/tools/builtin/web_search.py
  test/beta/config/anthropic/test_tool_to_api.py
  website/docs/beta/tools.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta): resolve Variable placeholders in ImageGenerationTool
  autogen/beta/tools/builtin/image_generation.py
  test/beta/tools/test_resolve.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore(test): move builtin tool tests into per-tool suites
  test/beta/config/anthropic/tools/__init__.py
  test/beta/config/anthropic/tools/test_memory.py
  test/beta/config/anthropic/tools/test_shell.py
  test/beta/config/anthropic/tools/test_tool_to_api.py
  test/beta/config/anthropic/tools/test_web_fetch.py
  test/beta/config/anthropic/tools/test_web_search.py
  test/beta/config/dashscope/tools/__init__.py
  test/beta/config/dashscope/tools/test_tool_to_api.py
  test/beta/config/dashscope/tools/test_web_search.py
  test/beta/config/gemini/tools/__init__.py
  test/beta/config/gemini/tools/test_tool_to_api.py
  test/beta/config/gemini/tools/test_web_fetch.py
  test/beta/config/gemini/tools/test_web_search.py
  test/beta/config/ollama/test_tool_to_api.py
  test/beta/config/ollama/tools/__init__.py
  test/beta/config/ollama/tools/test_tool_to_api.py
  test/beta/config/ollama/tools/test_web_search.py
  test/beta/config/openai/tools/__init__.py
  test/beta/config/openai/tools/test_image_generation.py
  test/beta/config/openai/tools/test_memory.py
  test/beta/config/openai/tools/test_shell.py
  test/beta/config/openai/tools/test_tool_to_api.py
  test/beta/config/openai/tools/test_web_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(beta): e2e builtin tool tests, version API rename, unsupported suites
  autogen/beta/config/anthropic/mappers.py
  autogen/beta/tools/builtin/code_execution.py
  autogen/beta/tools/builtin/memory.py
  autogen/beta/tools/builtin/shell.py
  autogen/beta/tools/builtin/web_fetch.py
  autogen/beta/tools/builtin/web_search.py
  test/beta/config/anthropic/test_tool_to_api.py
  test/beta/config/anthropic/tools/test_code_execution.py
  test/beta/config/anthropic/tools/test_shell.py
  test/beta/config/anthropic/tools/test_unsupported.py
  test/beta/config/anthropic/tools/test_web_fetch.py
  test/beta/config/anthropic/tools/test_web_search.py
  test/beta/config/conftest.py
  test/beta/config/dashscope/test_tool_to_api.py
  test/beta/config/dashscope/tools/test_unsupported.py
  test/beta/config/dashscope/tools/test_web_search.py
  test/beta/config/gemini/test_tool_to_api.py
  test/beta/config/gemini/tools/test_code_execution.py
  test/beta/config/gemini/tools/test_unsupported.py
  test/beta/config/gemini/tools/test_web_fetch.py
  test/beta/config/gemini/tools/test_web_search.py
  test/beta/config/ollama/test_tool_to_api.py
  test/beta/config/ollama/tools/test_unsupported.py
  test/beta/config/ollama/tools/test_web_search.py
  test/beta/config/openai/test_tool_to_api.py
  test/beta/config/openai/tools/test_code_execution.py
  test/beta/config/openai/tools/test_image_generation.py
  test/beta/config/openai/tools/test_memory.py
  test/beta/config/openai/tools/test_shell.py
  test/beta/config/openai/tools/test_unsupported.py
  test/beta/config/openai/tools/test_web_search.py
  test/beta/tools/test_builtin_tools.py
  test/beta/tools/test_image_generation.py
Due: build-setup-scripts, lint, mypy, check-license-headers

lint: fix ruff
  test/beta/config/gemini/tools/test_web_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(test): standardize Variable resolution tests for all builtin tools
  test/beta/tools/test_resolve.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs: fix building scripts imports
  website/generate_api_references.py
  website/process_notebooks.py
Due: build-setup-scripts, lint, mypy

docs: add AGENTS.md guidelines for builtin tools development and testing
  AGENTS.md
  CLAUDE.md
  test/beta/AGENTS.md
  test/beta/CLAUDE.md
Due: none

feat(beta): add MCPServer builtin tool for remote MCP server integration
  autogen/beta/config/anthropic/anthropic_client.py
  autogen/beta/config/anthropic/mappers.py
  autogen/beta/config/openai/mappers.py
  autogen/beta/tools/__init__.py
  autogen/beta/tools/builtin/__init__.py
  autogen/beta/tools/builtin/mcp_server.py
  test/beta/config/anthropic/tools/test_mcp_server.py
  test/beta/config/dashscope/tools/test_unsupported.py
  test/beta/config/gemini/tools/test_unsupported.py
  test/beta/config/ollama/tools/test_unsupported.py
  test/beta/config/openai/tools/test_mcp_server.py
  test/beta/config/openai/tools/test_unsupported.py
  test/beta/tools/test_resolve.py
  website/docs/beta/tools.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

docs: add AGENTS.md guidelines for beta documentation writing in website/
  website/AGENTS.md
  website/CLAUDE.md
Due: none

docs: add beta package structure and LLM provider client guidelines to AGENTS.md
  .gitignore
  AGENTS.md
  autogen/beta/middleware/__init__.py
  autogen/beta/streams/__init__.py
  autogen/beta/streams/redis/storage.py
  autogen/beta/streams/redis/stream.py
Due: build-setup-scripts, lint, mypy, check-license-headers

lint: apply precommit
  AGENTS.md
  autogen/beta/middleware/__init__.py
  autogen/beta/streams/redis/storage.py
  autogen/beta/streams/redis/stream.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: replace pre-commit with prek for faster hook execution
  .devcontainer/devcontainer.json
  .devcontainer/python-3.11/devcontainer.json
  .devcontainer/python-3.12/devcontainer.json
  .devcontainer/python-3.13/devcontainer.json
  .devcontainer/python-3.14/devcontainer.json
  .devcontainer/setup.sh
  .github/workflows/pr-checks.yml
  .github/workflows/python-package.yml
  README.md
  justfile
  pyproject.toml
  scripts/devcontainer/templates/devcontainer.json.jinja
  website/docs/contributor-guide/documentation.mdx
  website/docs/contributor-guide/pre-commit.mdx
  website/docs/contributor-guide/setup-development-environment.mdx
Due: generate-devcontainer-files

docs: split beta tools page into tools, toolkits, and builtin tools sections
  .github/workflows/pr-checks.yml
  AGENTS.md
  website/AGENTS.md
  website/docs/beta/tools/builtin_tools.mdx
  website/docs/beta/tools/toolkits.mdx
  website/docs/beta/tools/tools.mdx
  website/mint-json-template.json.jinja
Due: none

refactor(beta): make RedisStorage explicitly inherit from Storage protocol
  autogen/beta/streams/redis/storage.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: correct release roadmap link in README
  README.md
Due: none

docs: convert mermaid diagrams to PNG images in user guide
  website/docs/user-guide/basic-concepts/assets/auto-termination-workflow.png
  website/docs/user-guide/basic-concepts/assets/enhanced-tool-workflow.png
  website/docs/user-guide/basic-concepts/assets/group-chat-workflow.png
  website/docs/user-guide/basic-concepts/assets/structured-output-workflow.png
  website/docs/user-guide/basic-concepts/assets/tool-usage.png
  website/docs/user-guide/basic-concepts/introducing-group-chat.mdx
  website/docs/user-guide/basic-concepts/introducing-tools.mdx
  website/docs/user-guide/basic-concepts/structured-outputs.mdx
Due: none

docs: restore mermaid source code alongside PNG images in user guide
  website/docs/user-guide/basic-concepts/introducing-group-chat.mdx
  website/docs/user-guide/basic-concepts/introducing-tools.mdx
  website/docs/user-guide/basic-concepts/structured-outputs.mdx
Due: none

lint: fix pr checks
  cli/src/ag2_cli/commands/proxy.py
  cli/src/ag2_cli/content/skills/rules/llm-config.md
  cli/tests/test_create_new_features.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add OSOP workflow example — multi-agent debate in portable format
  notebook/osop/multi-agent-debate.osop.yaml
Due: none

Add OSOP README for multi-agent debate example
  notebook/osop/README.md
Due: none

feat(beta): add tool-scoped middleware hooks
  autogen/beta/agent.py
  autogen/beta/middleware/__init__.py
  autogen/beta/middleware/base.py
  autogen/beta/tools/final/function_tool.py
  autogen/beta/tools/final/toolkit.py
  test/beta/groupchat_interop/test_group_chat.py
  test/beta/middleware/test_tool_execution.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(beta): add Tool middleware page and navigation
  website/docs/beta/middleware.mdx
  website/docs/beta/tools/tool_middleware.mdx
  website/docs/beta/tools/toolkits.mdx
  website/docs/beta/tools/tools.mdx
  website/mint-json-template.json.jinja
Due: none

docs: add security policy
  .github/SECURITY.md
Due: none

docs: add AI policy for contributions
  .github/AI_POLICY.md
Due: none

chore: remove duplicate issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/general_issue.yml
Due: none

fix: update repo links to correct GitHub account
  notebook/osop/README.md
Due: none

feat(beta): allow hitl_hook to return raw string
  autogen/beta/hitl.py
  test/beta/middleware/test_human_input.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(beta): rename ToolMiddlewareHook to ToolMiddleware
  autogen/beta/agent.py
  autogen/beta/middleware/__init__.py
  autogen/beta/middleware/base.py
  autogen/beta/tools/final/function_tool.py
  autogen/beta/tools/final/toolkit.py
  test/beta/middleware/test_tool_execution.py
  website/docs/beta/tools/tool_middleware.mdx
  website/docs/beta/tools/tools.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta): allow passing hitl_hook at .ask() call
  autogen/beta/agent.py
  autogen/beta/events/types.py
  autogen/beta/exceptions.py
  test/beta/middleware/test_human_input.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Skip tests requiring exa_py when package not installed
  test/tools/experimental/exa/test_exa_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: fix priority using wrong type primitive in hub
  autogen/beta/actor.py
  autogen/beta/network/hub.py
  autogen/beta/network/primitives/channel.py
  autogen/beta/network/primitives/envelope.py
  autogen/beta/network/primitives/priority.py
  autogen/beta/scheduler.py
Due: build-setup-scripts, lint, mypy, check-license-headers

tests: add test for priority feature
  test/beta/network/test_priority_integration.py
Due: build-setup-scripts, lint, mypy, check-license-headers

tests: playground example for priority
  autogen/beta/actor.py
  playground/13_priority_triage/DEMO.md
  playground/13_priority_triage/main.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add missing metadata to envelop
  autogen/beta/network/hub.py
  autogen/beta/network/primitives/envelope.py
  autogen/beta/streams/redis/serializer.py
  autogen/beta/streams/redis/stream.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet
