Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet

Refactor imports and LLM config in FalkorDB blog
  website/docs/_blogs/2024-12-06-FalkorDB-Structured/index.mdx
Due: none

fix(code_samples): NameError in ReasoningAgent example — LLMConfig not imported
  website/docs/_blogs/2024-12-02-ReasoningAgent2/index.mdx
Due: none

fix(code_samples): NameError in FalkorDB Structured Output example — autogen not imported
  website/docs/_blogs/2024-12-06-FalkorDB-Structured/index.mdx
Due: none

fix(broken_link): Broken link to ChromaDB Docker docs
  autogen/agentchat/contrib/rag/chromadb_query_engine.py
  notebook/agentchat_LlamaIndex_query_engine.ipynb
  notebook/agentchat_chromadb_query_engine.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(console_errors): Console error — Invalid URL construction on every page
  website/mkdocs/overrides/partials/javascripts/outdated.html
Due: none

fix(code_samples): NameError in FalkorDB Structured Output example — missing imports
  website/docs/_blogs/2024-12-06-FalkorDB-Structured/index.mdx
Due: none

fix: update browser-use from pinned 0.1.37 to >=0.3.1,<1.0
  autogen/tools/experimental/browser_use/browser_use.py
  pyproject.toml
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(code_samples): FalkorDB example missing autogen and os imports
  website/docs/_blogs/2024-12-06-FalkorDB-Structured/index.mdx
Due: none

fix(a11y_basic): 39 images missing alt text on homepage
  website/mkdocs/overrides/home.html
Due: none

fix(a11y_basic): Color contrast failures site-wide (WCAG 2 AA)
  website/mkdocs/docs/stylesheets/extra.css
Due: none

fix(a11y_basic): Heading order violations on homepage
  website/mkdocs/overrides/home.html
Due: none

feat: add prompt caching support for Anthropic models on AWS Bedrock
  autogen/oai/bedrock.py
  test/oai/test_bedrock.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor: allow position options for some events
  autogen/beta/config/anthropic/anthropic_client.py
  autogen/beta/config/dashscope/dashscope_client.py
  autogen/beta/config/gemini/gemini_client.py
  autogen/beta/config/ollama/ollama_client.py
  autogen/beta/config/openai/openai_client.py
  autogen/beta/config/openai/openai_responses_client.py
  autogen/beta/events/tool_events.py
  autogen/beta/testing.py
  autogen/beta/tools/executor.py
  test/beta/middleware/builtins/test_history_limiter.py
  test/beta/middleware/builtins/test_token_limiter.py
  test/beta/middleware/telemetry/test_telemetry.py
  test/beta/tools/test_local_shell.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(events): add BinaryType enum and VideoInput factory
  autogen/beta/config/openai/mappers.py
  autogen/beta/events/__init__.py
  autogen/beta/events/input_events.py
  test/beta/config/openai/test_convert_messages.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor: introduce BuiltinToolResult event type
  autogen/beta/agent.py
  autogen/beta/config/openai/mappers.py
  autogen/beta/config/openai/openai_client.py
  autogen/beta/config/openai/openai_responses_client.py
  autogen/beta/events/__init__.py
  autogen/beta/events/tool_events.py
  autogen/beta/events/types.py
  autogen/beta/tools/builtin/image_generation.py
  test/beta/config/openai/test_openai_responses_usage.py
  test/beta/config/openai/test_openai_usage.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: align _process_response builtin tool events with _process_stream
  autogen/beta/config/openai/openai_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: expose VideoInput to public
  autogen/beta/__init__.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor: allow position options for more events
  autogen/beta/config/anthropic/anthropic_client.py
  autogen/beta/config/dashscope/dashscope_client.py
  autogen/beta/config/gemini/gemini_client.py
  autogen/beta/config/ollama/ollama_client.py
  autogen/beta/config/openai/openai_client.py
  autogen/beta/config/openai/openai_responses_client.py
  autogen/beta/context.py
  autogen/beta/events/types.py
  autogen/beta/testing.py
  autogen/beta/tools/executor.py
  test/beta/agent/test_hitl.py
  test/beta/agent/test_hooks_di.py
  test/beta/agent/test_sysprompt.py
  test/beta/middleware/builtins/test_history_limiter.py
  test/beta/middleware/builtins/test_llm_retry.py
  test/beta/middleware/builtins/test_token_limiter.py
  test/beta/middleware/telemetry/test_telemetry.py
  test/beta/middleware/test_agent_turns.py
  test/beta/middleware/test_human_input.py
  test/beta/stream/redis/test_redis_stream.py
  test/beta/stream/test_iter.py
  test/beta/stream/test_stream.py
  test/beta/test_task.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor: allow position options for more events
  autogen/beta/events/input_events.py
  autogen/beta/events/types.py
  autogen/beta/testing.py
  test/beta/agent/test_input.py
  test/beta/agent/test_sysprompt.py
  test/beta/config/anthropic/test_convert_messages.py
  test/beta/middleware/builtins/test_history_limiter.py
  test/beta/middleware/builtins/test_llm_retry.py
  test/beta/middleware/builtins/test_token_limiter.py
  test/beta/middleware/telemetry/test_telemetry.py
  test/beta/middleware/test_agent_turns.py
  test/beta/middleware/test_llm_call.py
  test/beta/stream/redis/test_redis_stream.py
  test/beta/test_task.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: introduce ModelRequest event grouping inputs into a user turn
  autogen/beta/agent.py
  autogen/beta/config/anthropic/mappers.py
  autogen/beta/config/dashscope/mappers.py
  autogen/beta/config/gemini/mappers.py
  autogen/beta/config/ollama/mappers.py
  autogen/beta/config/openai/mappers.py
  autogen/beta/events/__init__.py
  autogen/beta/events/input_events.py
  autogen/beta/middleware/builtin/history_limiter.py
  autogen/beta/middleware/builtin/telemetry.py
  autogen/beta/middleware/builtin/token_limiter.py
  test/beta/agent/test_observer.py
  test/beta/agent/test_response_schema.py
  test/beta/config/anthropic/test_convert_messages.py
  test/beta/config/dashscope/test_convert_messages.py
  test/beta/config/gemini/test_convert_messages.py
  test/beta/config/ollama/test_convert_messages.py
  test/beta/config/openai/test_convert_messages.py
  test/beta/middleware/builtins/test_history_limiter.py
  test/beta/middleware/builtins/test_token_limiter.py
  test/beta/middleware/test_agent_turns.py
  test/beta/middleware/test_llm_call.py
  test/beta/test_task.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs: move testing rules to test/beta/ folder
  AGENTS.md
  test/beta/AGENTS.md
Due: none

fix(ci): add write permissions to build-mkdocs workflow
  .github/workflows/build-mkdocs.yml
Due: none

fix(broken_link): Broken agentops docs link on 34 pages
  website/docs/ecosystem/agentops.mdx
Due: none

fix(broken_link): Broken FAQ link in Docker code execution blog
  website/docs/_blogs/2024-01-23-Code-execution-in-docker/index.mdx
Due: none

fix(broken_link): localhost URLs in production blog posts
  website/snippets/advanced-concepts/realtime-agent/webrtc.mdx
  website/snippets/advanced-concepts/realtime-agent/websocket.mdx
Due: none

fix(broken_link): Broken notebook link in FalkorDB blog
  website/docs/_blogs/2024-12-06-FalkorDB-Structured/index.mdx
Due: none

fix(broken_link): Broken installing-ag2 link on quickstart page
  website/docs/home/quickstart.mdx
Due: none

fix(broken_link): Double-slash in GitHub notebook URLs
  website/mkdocs/_website/generate_mkdocs.py
  website/mkdocs/_website/process_notebooks.py
Due: build-setup-scripts, lint, mypy

fix(broken_link): Broken FSM-GroupChat link in StateFlow blog
  website/docs/_blogs/2024-02-29-StateFlow/index.mdx
Due: none

Create py.typed file for mypy
  autogen/py.typed
Due: none

fixing mixline
  autogen/py.typed
Due: none

fix(broken_link): Double-slash in GitHub notebook URLs
  website/mkdocs/_website/generate_mkdocs.py
Due: build-setup-scripts, lint, mypy

fix: support async LangChain tools in LangChainInteroperability.convert_tool()
  autogen/interop/langchain/langchain_tool.py
  test/interop/langchain/test_langchain_async.py
Due: build-setup-scripts, lint, mypy, check-license-headers

DiskKnowledgeStorage
  autogen/beta/__init__.py
  autogen/beta/knowledge.py
  autogen/beta/network/hub.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: background tasks
  autogen/beta/network/__init__.py
  autogen/beta/network/channels/desktop.py
  autogen/beta/network/desktop_proxy.py
  autogen/beta/network/events.py
  autogen/beta/network/hub.py
  autogen/beta/state.py
  codecov.yml
  test/beta/network/test_background_delegation.py
Due: build-setup-scripts, lint, mypy, check-license-headers
