Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

build-setup-scripts:
  name: build setup scripts
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-build-setup-files.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2
  - toml
  - ruff

lint:
  name: linting and formatting
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-lint.sh
  language: python
  require_serial: true
  verbose: true

mypy:
  name: mypy
  stages:
  - pre-commit
  - pre-merge-commit
  entry: ./scripts/pre-commit-mypy-run.sh
  language: python
  additional_dependencies: []
  require_serial: true
  verbose: true

check-license-headers:
  name: check license headers
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: python ./scripts/pre-commit-license-check.py
  language: python

generate-devcontainer-files:
  name: Generate devcontainer files
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/devcontainer/generate-devcontainers.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2

docs(blog): restore Blog tab with the AG2 Beta posts
  website/docs/_blogs/2026-03-16-AG2-Beta/img/ag2-beta-banner.webp
  website/docs/_blogs/2026-03-16-AG2-Beta/img/agent-chat.png
  website/docs/_blogs/2026-03-16-AG2-Beta/img/agent-history.png
  website/docs/_blogs/2026-03-16-AG2-Beta/index.mdx
  website/docs/_blogs/2026-05-12-LiveAgent/img/live-agent-hero.png
  website/docs/_blogs/2026-05-12-LiveAgent/index.mdx
  website/docs/_blogs/2026-05-14-AG2-Action-Driven-Network/img/n1-banner.webp
  website/docs/_blogs/2026-05-14-AG2-Action-Driven-Network/img/n1-consulting.webp
  website/docs/_blogs/2026-05-14-AG2-Action-Driven-Network/img/n1-conversation.webp
  website/docs/_blogs/2026-05-14-AG2-Action-Driven-Network/img/n1-discussion.webp
  website/docs/_blogs/2026-05-14-AG2-Action-Driven-Network/img/n1-mismatch.webp
  website/docs/_blogs/2026-05-14-AG2-Action-Driven-Network/img/n1-primitives.webp
  website/docs/_blogs/2026-05-14-AG2-Action-Driven-Network/img/n1-workflow.webp
  website/docs/_blogs/2026-05-14-AG2-Action-Driven-Network/index.mdx
  website/docs/_blogs/2026-05-15-AG2-Network-Choreography-Dial/img/n2-audience.webp
  website/docs/_blogs/2026-05-15-AG2-Network-Choreography-Dial/img/n2-banner-animated.webp
  website/docs/_blogs/2026-05-15-AG2-Network-Choreography-Dial/img/n2-centerpiece.webp
  website/docs/_blogs/2026-05-15-AG2-Network-Choreography-Dial/img/n2-dial.webp
  website/docs/_blogs/2026-05-15-AG2-Network-Choreography-Dial/img/n2-expectations.webp
  website/docs/_blogs/2026-05-15-AG2-Network-Choreography-Dial/img/n2-transitions.webp
  website/docs/_blogs/2026-05-15-AG2-Network-Choreography-Dial/index.mdx
  website/docs/_blogs/2026-05-16-AG2-Network-What-Survives/img/n3-audit.webp
  website/docs/_blogs/2026-05-16-AG2-Network-What-Survives/img/n3-banner-animated.webp
  website/docs/_blogs/2026-05-16-AG2-Network-What-Survives/img/n3-identity.webp
  website/docs/_blogs/2026-05-16-AG2-Network-What-Survives/img/n3-wal.webp
  website/docs/_blogs/2026-05-16-AG2-Network-What-Survives/index.mdx
  website/docs/_blogs/2026-06-16-AG2-Network-Networks-You-Can-Deploy/img/n4-auth.webp
  website/docs/_blogs/2026-06-16-AG2-Network-Networks-You-Can-Deploy/img/n4-banner.webp
  website/docs/_blogs/2026-06-16-AG2-Network-Networks-You-Can-Deploy/img/n4-reconnect.webp
  website/docs/_blogs/2026-06-16-AG2-Network-Networks-You-Can-Deploy/index.mdx
  website/docs/_blogs/2026-06-17-AG2-Agent-Harness/img/banner.webp
  website/docs/_blogs/2026-06-17-AG2-Agent-Harness/img/harness.webp
  website/docs/_blogs/2026-06-17-AG2-Agent-Harness/index.mdx
  website/mkdocs/_website/generate_mkdocs.py
  website/mkdocs/mkdocs.yml
Due: build-setup-scripts, lint, mypy

fix(docs): repair broken links and migrate to 1.0.0 URL scheme
  ag2/extensions/__init__.py
  ag2/extensions/tools/search/tinyfish.py
  ag2/tools/builtin/google_maps.py
  website/docs/contributor-guide/documentation.mdx
  website/docs/contributor-guide/tests.mdx
  website/docs/user-guide/coding_with_ai.mdx
  website/mkdocs/README.md
  website/mkdocs/_website/llms_txt.py
  website/mkdocs/robots.txt
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(response): Update docs for LastMessagePromptedSchema
  website/docs/user-guide/structured_output.mdx
Due: none

feat(response): LastMessagePromptedSchema — inject schema into last user message
  ag2/__init__.py
  ag2/agent.py
  ag2/response/__init__.py
  ag2/response/prompted.py
  ag2/response/proto.py
  test/agent/test_response_schema.py
  test/config/bedrock/test_response_schema.py
  test/config/zai/test_response_schema.py
  test/response/test_prompted.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add cost accounting extension
  ag2/extensions/cost_accounting/README.md
  ag2/extensions/cost_accounting/__init__.py
  ag2/extensions/cost_accounting/catalog.py
  ag2/extensions/cost_accounting/estimator.py
  ag2/extensions/cost_accounting/observer.py
  test/extensions/cost_accounting/__init__.py
  test/extensions/cost_accounting/test_cost_accounting.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: accept Stream instances in as_tool() and subagent_tool() stream parameter
  ag2/agent.py
  ag2/tools/subagents/background.py
  ag2/tools/subagents/subagent_tool.py
  test/tools/test_background.py
  test/tools/test_task.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(search): add Xquik tweet search toolkit
  ag2/extensions/tools/search/__init__.py
  ag2/extensions/tools/search/xquik.py
  test/extensions/tools/search/test_xquik.py
  website/docs/user-guide/extensions/tools/search/xquik.mdx
  website/mint-json-template.json.jinja
Due: build-setup-scripts, lint, mypy, check-license-headers

Require api_key in Xquik initialization
  ag2/extensions/tools/search/xquik.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Refactor API key tests in test_xquik.py
  test/extensions/tools/search/test_xquik.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update Xquik API key instructions in documentation
  website/docs/user-guide/extensions/tools/search/xquik.mdx
Due: none

test(openai): add cache_write_tokens to InputTokensDetails for openai>=2.45.0
  pyproject.toml
  test/config/openai/test_openai_responses_usage.py
  uv.lock
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(mcp): MCP-UI support
  ag2/mcp/__init__.py
  ag2/mcp/errors.py
  ag2/mcp/server.py
  ag2/mcp/tools.py
  ag2/mcp_ui/__init__.py
  ag2/mcp_ui/actions.py
  ag2/mcp_ui/resources.py
  examples/mcp/server_ui.py
  pyproject.toml
  test/mcp/test_custom_tools.py
  test/mcp_ui/__init__.py
  test/mcp_ui/test_actions.py
  test/mcp_ui/test_resources.py
  uv.lock
  website/docs/user-guide/tools/mcp_ui.mdx
  website/mint-json-template.json.jinja
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(openai): request encrypted reasoning content when `store` is false
  ag2/config/openai/openai_responses_client.py
  test/config/openai/test_responses_client_store.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs: add DaoXE OpenAI-compatible gateway example
  website/docs/user-guide/model_configuration.mdx
Due: none

refactor: simplify tool execution
  ag2/tools/executor.py
  test/tools/test_execution.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: clarify comments
  ag2/tools/executor.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(readme): point AG2 Classic users to ag2-classic, fix stale examples
  README.md
Due: none

docs(readme): use a conversation channel for the multi-agent example
  README.md
Due: none

Add playground, update focus to AG2
  README.md
Due: none

fix(mcp): address review feedback for MCP-UI support
  ag2/mcp/__init__.py
  ag2/mcp/errors.py
  ag2/mcp/server.py
  ag2/mcp/tools.py
  ag2/mcp_ui/__init__.py
  ag2/mcp_ui/actions.py
  examples/mcp/server_ui.py
  test/mcp/test_custom_tools.py
  test/mcp_ui/test_actions.py
  website/docs/user-guide/tools/mcp_ui.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(perplexity): add X-Pplx-Integration attribution header
  ag2/tools/search/perplexity.py
  test/tools/search/test_perplexity.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(perplexity): move header merge into toolkit method
  ag2/tools/search/perplexity.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(perplexity): merge attribution header in init
  ag2/tools/search/perplexity.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: 11labs, full example with comparison on streaming vs whole
  ag2/live/__init__.py
  ag2/live/elevenlabs.py
  ag2/live/observer.py
  examples/stt_tts.py/tts_elevenlabs.py
  pyproject.toml
  test/live/test_elevenlabs.py
  uv.lock
Due: build-setup-scripts, lint, mypy, check-license-headers

feat/elevenlabs-live: stt, tts, streaming tts from 11labs
  ag2/live/__init__.py
  ag2/live/elevenlabs.py
  ag2/live/openai.py
  ag2/live/realtime.py
  ag2/live/stt.py
  examples/stt_tts.py/elevenlabs_stt_tts_streaming.py
  examples/stt_tts.py/elevenlabs_stt_tts_sync.py
  examples/stt_tts.py/tts_elevenlabs.py
  test/live/test_elevenlabs.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat/elevenlabs-live: example on faster LLM model to isolate TTS/STT speed
  ag2/live/realtime.py
  examples/stt_tts.py/elevenlabs_stt_tts_streaming.py
  examples/stt_tts.py/elevenlabs_stt_tts_sync.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat/elevenlabs-live: docs
  website/docs/user-guide/live/live.mdx
  website/docs/user-guide/live/stt_tts.mdx
Due: none

refactor(extensions/tealtiger): rewrite per review — MiddlewareFactory, ag2.* namespace, ToolErrorEvent
  ag2/extensions/tealtiger/__init__.py
  ag2/extensions/tealtiger/middleware.py
  ag2/extensions/tealtiger/types.py
  test/extensions/tealtiger/__init__.py
  test/extensions/tealtiger/test_governance_middleware.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat/elevenlabs: full cascade + observer support
  ag2/events/__init__.py
  ag2/events/voice.py
  ag2/live/__init__.py
  ag2/live/cascade.py
  ag2/live/elevenlabs.py
  ag2/live/observer.py
  ag2/live/protocols.py
  ag2/live/realtime.py
  ag2/live/sound_device.py
  ag2/live/turn.py
  examples/live_playground/live_to_text_only.py
  examples/stt_tts.py/cascade_live_agent.py
  examples/stt_tts.py/elevenlabs_stt_tts_streaming.py
  test/live/test_cascade.py
  test/live/test_elevenlabs.py
  website/docs/user-guide/live/live.mdx
  website/docs/user-guide/live/stt_tts.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat/elevenlabs: docs and move examples
  examples/live_playground/cascade_live_agent.py
  examples/live_playground/live_to_text_only.py
  website/docs/user-guide/live/live.mdx
  website/docs/user-guide/live/live_agent.mdx
  website/docs/user-guide/live/stt_tts.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(events): coerce Enum fields after JSON round-trip
  ag2/events/base.py
  test/knowledge/test_knowledge.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore(deps): bump lxml to 6.1.1 and pydantic-settings to 2.14.2
  uv.lock
Due: none

chore(deps): bump lxml to 6.1.1 and pydantic-settings to 2.14.2 (#3093)
  uv.lock
Due: none

feat(extensions): add Tenki sandbox integration
  AGENTS.md
  ag2/extensions/tenki/__init__.py
  ag2/extensions/tenki/environment.py
  ag2/extensions/tenki/sandbox.py
  ag2/tools/code/tool.py
  ag2/tools/sandbox/adapter/shell.py
  ag2/tools/shell/tool.py
  pyproject.toml
  test/extensions/tenki/__init__.py
  test/extensions/tenki/test_tenki_environment.py
  test/extensions/tenki/test_tenki_sandbox.py
  uv.lock
  website/docs/user-guide/extensions/tenki.mdx
  website/docs/user-guide/tools/code_execution.mdx
  website/docs/user-guide/tools/common_toolkits.mdx
  website/docs/user-guide/tools/local_shell.mdx
  website/mint-json-template.json.jinja
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(events): preserve Enum types across serialization round-trip
  ag2/config/openai/mappers.py
  ag2/events/_serialization.py
  test/config/openai/test_convert_messages.py
  test/events/test_serialization.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: Enhance MCP server integration and tool exposure in CLI agents
  ag2/acp/__init__.py
  ag2/acp/client.py
  ag2/acp/config.py
  ag2/acp/session.py
  ag2/acp/testing.py
  ag2/acp/tool_gateway.py
  pyproject.toml
  test/acp/test_client_e2e.py
  test/acp/test_config.py
  test/acp/test_session.py
  test/acp/test_tool_gateway.py
  website/docs/user-guide/cli_agents.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(acp): improve error handling during session shutdown and clarify tool gateway shutdown behavior
  ag2/acp/session.py
  ag2/acp/tool_gateway.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: version bump to 1.0.0
  pyproject.toml
  uv.lock
Due: none

docs: fix README pre-commit failures (ruff format + detect-secrets)
  README.md
Due: none

docs: README tweaks for AG2 focus and AG2 Classic references (#3082)
  README.md
Due: none

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet
