Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet

Update README.md (#1844)
  README.md
Due: none

Fix async function calling in sync runs (#1848)
  autogen/agentchat/conversable_agent.py
  test/agentchat/test_function_call_groupchat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

register_handoff is not working as expected in a_run_swarm issue got fixed
  autogen/agentchat/contrib/swarm_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

improved azure openai deployment name parsing (fixes the "gpt-4.1" turning to "gpt-41") (#1862)
  autogen/oai/client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix `LLMConfig` for 5 notebooks (4) (#1822)
  notebook/agentchat_graph_rag_falkordb.ipynb
  notebook/agentchat_graph_rag_neo4j.ipynb
  notebook/agentchat_graph_rag_neo4j_native.ipynb
  notebook/agentchat_group_chat_with_llamaindex_agents.ipynb
  notebook/agentchat_groupchat_customized.ipynb
Due: none

fix dead link in extra.css (#1870)
  website/mkdocs/docs/stylesheets/extra.css
Due: none

Adding mcp examples for arxiv, filesystem and wikipedia (#1794)
  .gitignore
  notebook/agentchat_mcp_arxiv.ipynb
  notebook/agentchat_mcp_filesystem.ipynb
  notebook/agentchat_mcp_wikipedia.ipynb
  notebook/mcp/context_docs/eiffel_tower.md
  notebook/mcp/mcp_arxiv.py
  notebook/mcp/mcp_filesystem.py
  notebook/mcp/mcp_proxy_giphy.ipynb
  notebook/mcp/mcp_wikipedia.py
Due: build-setup-scripts, lint, mypy

fix a format issue (#1816)
  website/docs/_blogs/2025-04-16-Reasoning/index.mdx
Due: none

Create MCP proxy from OpenAPI specifications (#1561)
  autogen/mcp/__main__.py
  autogen/mcp/mcp_proxy/__init__.py
  autogen/mcp/mcp_proxy/fastapi_code_generator_helpers.py
  autogen/mcp/mcp_proxy/mcp_proxy.py
  autogen/mcp/mcp_proxy/operation_grouping.py
  autogen/mcp/mcp_proxy/operation_renaming.py
  autogen/mcp/mcp_proxy/patch_fastapi_code_generator.py
  autogen/mcp/mcp_proxy/security.py
  autogen/mcp/mcp_proxy/security_schema_visitor.py
  notebook/mcp/math/math_server.py
  notebook/mcp/mcp_client.ipynb
  notebook/mcp/mcp_proxy.ipynb
  notebook/mcp/mcp_proxy_asana.ipynb
  notebook/mcp/mcp_proxy_davor.ipynb
  notebook/mcp/mcp_proxy_github.ipynb
  notebook/mcp/mcp_proxy_trello.ipynb
  notebook/mcp/mcp_proxy_whatsapp.ipynb
  notebook/mcp/security/mcp_proxy_api_key_cookie.ipynb
  notebook/mcp/security/mcp_proxy_api_key_header.ipynb
  notebook/mcp/security/mcp_proxy_api_key_query.ipynb
  notebook/mcp/security/mcp_proxy_http_basic.ipynb
  notebook/mcp/security/mcp_proxy_http_bearer.ipynb
  notebook/mcp/security/mcp_proxy_http_oauth.ipynb
  pyproject.toml
  setup_autogen.py
  templates/client_template/main.jinja2
  templates/config_template/config.jinja2
  templates/main.jinja2
  test/mcp/data.json
  test/mcp/data_trello.json
  test/mcp/test_mcp_proxy.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs: update contributor guide URL (#1825)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fail on specific tool error (#1833)
  autogen/agentchat/conversable_agent.py
  autogen/events/agent_events.py
  notebook/throw-exception-for-specific-error-messages.ipynb
  test/events/test_agent_events.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update README.md (#1812)
  README.md
Due: none

Add AG2 and CopilotKit announcement blog post (#1800)
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/img/AG2-CopilotKit.png
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/img/ag2-copilotkit-architecture.png
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/img/quick-start-1.png
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/img/quick-start-2.png
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/index.mdx
Due: none

Update build-mkdocs.yml (#1804)
  .github/workflows/build-mkdocs.yml
Due: none

Fix `LLMConfig` losing properties (#1787)
  autogen/llm_config.py
  test/test_llm_config.py
Due: build-setup-scripts, lint, mypy, check-license-headers

ReliableTool notebook updates (#1869)
  notebook/reliable_basic_example.ipynb
  notebook/reliable_google_search.ipynb
  notebook/reliable_group_chat.ipynb
Due: none

Update version to 0.9.2 (#1868)
  autogen/version.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Cross link tools overview section in basic concepts (#1796)
  website/docs/user-guide/basic-concepts/introducing-tools.mdx
Due: none

Fix `LLMConfig` for 5 notebooks (3) (#1821)
  notebook/agentchat_assistant_agent_standalone.ipynb
  notebook/agentchat_auto_feedback_from_code_execution.ipynb
  notebook/agentchat_databricks_dbrx.ipynb
  notebook/agentchat_function_call.ipynb
  notebook/agentchat_function_call_async.ipynb
  notebook/agentchat_function_call_code_writing.ipynb
  notebook/agentchat_function_call_currency_calculator.ipynb
Due: none

Fix fails on empty descriptions (#1856)
  autogen/mcp/mcp_proxy/mcp_proxy.py
  notebook/mcp/mcp_proxy_PokeAPI.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

Add Beibin to MAINTAINERS.md (#1818)
  MAINTAINERS.md
Due: none

Disable mintlify deploy workflow (#1807)
  .github/workflows/deploy-website-mintlify.yml
Due: none

Update to docs on ContextVariables to better describe how they work (#1860)
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/context-variables.mdx
Due: none

Resolves deprecated provider error when using WebSurferAgent (#1867)
  autogen/interop/litellm/litellm_config_factory.py
  test/interop/litellm/test_litellm_config_factory.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Docs Polishing (#1845)
  website/docs/user-guide/advanced-concepts/orchestration/swarm/deprecation.mdx
Due: none

Docs polishing (#1797)
  notebook/tools_duckduckgo_search.ipynb
  scripts/broken-links-check.sh
Due: none

Added gemini-2.5-pro-preview-05-06 to Gemini pricing (#1803)
  autogen/oai/gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix DocAgent to support follow-up queries (#1874)
  autogen/agents/experimental/document_agent/document_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Tavily and DuckDuckGo extras added (#1872)
  notebook/agentchat_captainagent_crosstool.ipynb
  notebook/tools_duckduckgo_search.ipynb
  notebook/tools_tavily_search.ipynb
  pyproject.toml
  setup_autogen.py
Due: build-setup-scripts, lint, mypy, check-license-headers

As/reliable tool (#1782)
  autogen/tools/experimental/__init__.py
  autogen/tools/experimental/reliable/__init__.py
  autogen/tools/experimental/reliable/reliable.py
  notebook/reliable_basic_example.ipynb
  notebook/reliable_google_search.ipynb
  notebook/reliable_group_chat.ipynb
  test/tools/experimental/reliable/__init__.py
  test/tools/experimental/reliable/test_reliable.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix `LLMConfig` for 5 notebooks (2) (#1779)
  notebook/agentchat_captainagent.ipynb
  notebook/agentchat_captainagent_crosstool.ipynb
  notebook/agentchat_cost_token_tracking.ipynb
  notebook/agentchat_custom_model.ipynb
  notebook/agentchat_dalle_and_gpt4v.ipynb
Due: none

missing await issue prevents us from group chat resume using default pattern
  autogen/agentchat/groupchat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fixed await problem
  autogen/agentchat/groupchat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Make guardrails serializable
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/group/guardrails.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Execute guardrails in groupchat
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/group/guardrails.py
  autogen/agentchat/groupchat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Advanced ReAct Loops for Multi-Agent Essay Evaluation
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image1.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image2.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image3.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image4.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

Added markdown
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

clean ups
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

Blog - ReAct Loops in Group Chat
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image1.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image2.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image3.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image4.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none
