Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

build-setup-scripts:
  name: build setup scripts
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-build-setup-files.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2
  - toml
  - ruff

lint:
  name: linting and formatting
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-lint.sh
  language: python
  require_serial: true
  verbose: true

mypy:
  name: mypy
  stages:
  - pre-commit
  - pre-merge-commit
  entry: ./scripts/pre-commit-mypy-run.sh
  language: python
  additional_dependencies: []
  require_serial: true
  verbose: true

check-license-headers:
  name: check license headers
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: python ./scripts/pre-commit-license-check.py
  language: python

generate-devcontainer-files:
  name: Generate devcontainer files
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/devcontainer/generate-devcontainers.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2

Blog - From Reasoning to Evaluation: Advanced ReAct Loops for Multi-Agent Essay Evaluation
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image1.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image2.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image3.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image4.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

prompt change
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

Update devcontainer.json.jinja
  scripts/devcontainer/templates/devcontainer.json.jinja
Due: generate-devcontainer-files

initial changes to allow for streaming
  autogen/events/client_events.py
  autogen/llm_config.py
  autogen/oai/client.py
  test/test_streaming.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update google-genai version in pyproject.toml
  pyproject.toml
Due: none

Change After Works on handoffs to a list of OnContextConditions
  autogen/agentchat/group/group_utils.py
  autogen/agentchat/group/handoffs.py
  autogen/agentchat/group/on_context_condition.py
  test/agentchat/group/test_group_utils.py
  test/agentchat/group/test_handoffs.py
  test/agentchat/group/test_on_context_condition.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fixed with pre-commit run
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

Add transition target
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/group/group_utils.py
  autogen/agentchat/group/guardrails.py
  autogen/agentchat/group/targets/transition_target.py
  autogen/agentchat/groupchat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix DocAgent to support follow-up queries (#1874)
  autogen/agents/experimental/document_agent/document_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Replace 404 reference in README.md (#1875)
  README.md
Due: none

fixed await problem (#1884)
  autogen/agentchat/groupchat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: unpin mcp limit (#1881)
  pyproject.toml
Due: none

This is a combination of 3 commits.
  autogen/agentchat/group/group_utils.py
  autogen/agentchat/group/targets/transition_target.py
  test/agentchat/group/test_group_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update mcp extra version
  pyproject.toml
Due: none

Add context variables to the user proxy agent in group chat
  autogen/agentchat/group/group_utils.py
  autogen/agentchat/group/patterns/pattern.py
  test/agentchat/group/test_group_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

ReAct blog post configuration
  website/blogs_and_user_stories_authors.yml
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

Title tweak
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

Fix pre-commit linting issue: use ternary operator instead of if-else block
  autogen/agentchat/contrib/capabilities/transforms.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docstring update
  autogen/agentchat/contrib/capabilities/transforms.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Blog formatting tweaks
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

Devcontainer JSON tweaks
  .devcontainer/devcontainer.json
  .devcontainer/python-3.11/devcontainer.json
  .devcontainer/python-3.12/devcontainer.json
  .devcontainer/python-3.13/devcontainer.json
Due: none

Update version to 0.9.3
  autogen/version.py
Due: build-setup-scripts, lint, mypy, check-license-headers

LMMTest fixes
  test/agentchat/contrib/test_img_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Test fixes
  autogen/oai/oai_models/chat_completion.py
  test/tools/experimental/reliable/test_reliable.py
Due: build-setup-scripts, lint, mypy, check-license-headers

LLM test fixes
  autogen/oai/gemini_types.py
  pyproject.toml
  test/tools/experimental/reliable/test_reliable.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Gemini and Realtime agent fixes
  autogen/agentchat/realtime/experimental/realtime_swarm.py
  autogen/oai/gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Skip reliable tool for OpenAI test
  test/tools/experimental/reliable/test_reliable.py
Due: build-setup-scripts, lint, mypy, check-license-headers

pre-commit tidy
  test/tools/experimental/reliable/test_reliable.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fixes
  autogen/tools/experimental/browser_use/browser_use.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fixes and tests
  autogen/agentchat/contrib/agent_optimizer.py
  test/agentchat/contrib/test_agent_optimizer.py
  test/tools/experimental/browser_use/test_browser_use.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: Add sender and recipient fields to TerminationEvent
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/groupchat.py
  autogen/events/agent_events.py
  test/events/test_agent_events.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add searxng tool and websurfer
  autogen/agents/experimental/websurfer/websurfer.py
  autogen/tools/experimental/__init__.py
  autogen/tools/experimental/searxng/__init__.py
  autogen/tools/experimental/searxng/searxng_search.py
  notebook/tools_searxng_search.ipynb
  test/tools/experimental/searxng/test_searxng.py
  website/docs/user-guide/reference-tools/index.mdx
  website/docs/user-guide/reference-tools/searxng-search.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix print logging to logger
  autogen/tools/experimental/searxng/searxng_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix scoping of `searxng_search`
  autogen/tools/experimental/searxng/searxng_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix SearxNG search tool implementation issues
  autogen/oai/gemini_types.py
  autogen/tools/experimental/searxng/searxng_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix mypy import error in test_searxng.py
  test/tools/experimental/searxng/test_searxng.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix schema validation test for SearxNG tool
  test/tools/experimental/searxng/test_searxng.py
Due: build-setup-scripts, lint, mypy, check-license-headers

pre-commit tidy
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/groupchat.py
  test/events/test_agent_events.py
Due: build-setup-scripts, lint, mypy, check-license-headers

pre-commit tidy and deprecated helper
  autogen/events/helpers.py
  autogen/messages/agent_messages.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix mypy errors in Firecrawl tool
  autogen/agents/experimental/websurfer/websurfer.py
  autogen/tools/experimental/__init__.py
  autogen/tools/experimental/firecrawl/__init__.py
  autogen/tools/experimental/firecrawl/firecrawl_tool.py
  notebook/tools_firecrawl.ipynb
  notebook/websurfer_firecrawl_example.ipynb
  test/agents/experimental/websurfer/test_websurfer.py
  test/tools/experimental/firecrawl/test_firecrawl.py
  website/docs/user-guide/reference-tools/firecrawl.mdx
  website/docs/user-guide/reference-tools/index.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet
