Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

build-setup-scripts:
  name: build setup scripts
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-build-setup-files.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2
  - toml
  - ruff

lint:
  name: linting and formatting
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-lint.sh
  language: python
  require_serial: true
  verbose: true

mypy:
  name: mypy
  stages:
  - pre-commit
  - pre-merge-commit
  entry: ./scripts/pre-commit-mypy-run.sh
  language: python
  additional_dependencies: []
  require_serial: true
  verbose: true

check-license-headers:
  name: check license headers
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: python ./scripts/pre-commit-license-check.py
  language: python

generate-devcontainer-files:
  name: Generate devcontainer files
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/devcontainer/generate-devcontainers.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2

test: async integration
  test/agentchat/test_chats.py
  test/agentchat/test_conversable_agent.py
  test/agentchat/test_groupchat.py
  test/agentchat/test_nested.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test: conversable_Agent
  test/agentchat/test_conversable_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: cleanup
  test/agentchat/test_tool_calls.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test: integration
  test/agentchat/test_nested.py
  test/agentchat/test_tool_calls.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix formatting
  autogen/coding/remyx_code_executor.py
  notebook/agentchat_remyx_executor.ipynb
  test/coding/test_remyx_executor.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update integration test
  test/agentchat/test_agent_with_openai_v2_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Bump version from 0.9.9 to 0.9.10 (#2133)
  autogen/version.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add Claude Code GitHub Workflow (#2146)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Disable Claude code review on Draft PRs (#2147)
  .github/workflows/claude-code-review.yml
Due: none

Update policy-guided safeguard to support initiate_group_chat API (#2121)
  autogen/agentchat/group/group_tool_executor.py
  autogen/agentchat/group/multi_agent_chat.py
  autogen/agentchat/group/safeguards/api.py
  autogen/agentchat/group/safeguards/enforcer.py
  notebook/safeguard_demo.ipynb
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/safeguards.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Remove custome client multimodal tests (#2151)
  test/oai/test_custom_client_multimodal_integration.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update nvidia_10k_2024.md (#2122)
  test/agents/experimental/document_agent/pdf_parsed/nvidia_10k_2024.md
Due: none

[Fix] OAI_CONFIG_LIST for tests (#2130)
  .github/workflows/contrib-llm-test.yml
Due: none

[Feature] Enable list[dict] type for message['content'] for two-agent chat and group chat APIs (#2145)
  .github/workflows/core-llm-test.yml
  autogen/agentchat/chat.py
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/group/group_tool_executor.py
  autogen/agentchat/group/safeguards/enforcer.py
  autogen/agentchat/groupchat.py
  autogen/llm_config/client.py
  autogen/oai/client.py
  test/agentchat/test_multimodal_integration.py
  test/conftest.py
  test/oai/test_custom_client_multimodal_integration.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: claude code review for forked branches (#2149)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Bump version to 0.10 (#2162)
  autogen/version.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: Tools detection for OpenAI o1 + LLM Tools/Functions merging (#2161)
  autogen/oai/client.py
  autogen/oai/client_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

AG2xA2A banner image (#2183)
  website/docs/_blogs/2025-10-27-A2A-Protocol-Support/img/ag2-a2a-banner.png
Due: none

feat: Implement new FunctionTarget (#2031)
  autogen/agentchat/group/__init__.py
  autogen/agentchat/group/targets/function_target.py
  test/agentchat/test_function_targets.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add A2A Card to Agent builder (#2165)
  autogen/a2a/client.py
  test/a2a/test_client.py
  website/docs/user-guide/a2a/client.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

[MISC] Fix mypy errors (#2167)
  autogen/agentchat/group/safeguards/events.py
  autogen/interop/pydantic_ai/pydantic_ai.py
  autogen/llm_config/client.py
  autogen/oai/anthropic.py
  autogen/oai/bedrock.py
  autogen/oai/cerebras.py
  autogen/oai/client.py
  autogen/oai/cohere.py
  autogen/oai/gemini.py
  autogen/oai/groq.py
  autogen/oai/mistral.py
  autogen/oai/oai_models/chat_completion_message.py
  autogen/oai/ollama.py
  autogen/oai/openai_responses.py
  autogen/oai/together.py
  autogen/tools/experimental/web_search_preview/web_search_preview.py
  test/interop/pydantic_ai/test_pydantic_ai.py
  test/interop/pydantic_ai/test_pydantic_ai_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: empty a2a message (#2163)
  autogen/a2a/agent_executor.py
  autogen/a2a/utils.py
  autogen/oai/client_utils.py
  test/a2a/chats/test_chat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix UnboundLocalError in function_target (#2169)
  autogen/agentchat/group/targets/function_target.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add A2A Protocol Support blog post (#2170)
  website/docs/_blogs/2025-10-27-A2A-Protocol-Support/index.mdx
Due: none

documentation: Add multimcpclientsessionmanager notebook example (#2168)
  notebook/agentchat_grok_example.ipynb
  notebook/agentchat_mcp_client_session_manager.py
  notebook/agentchat_mcp_session_manager_example.ipynb
Due: build-setup-scripts, lint, mypy

fix: claude-code-review action for forked branches (#2171)
  .github/workflows/claude-code-review.yml
Due: none

Remove pending maintainer section
  MAINTAINERS.md
Due: none

Update MAINTAINERS.md as github link is not public accessible
  MAINTAINERS.md
Due: none

Update sonnet model to 4.5
  autogen/token_count_utils.py
  test/conftest.py
  test/interop/litellm/test_litellm_config_factory.py
  test/oai/test_anthropic.py
  test/oai/test_bedrock.py
  test/test_llm_config.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix new oai cient name to completions
  autogen/llm_clients/__init__.py
  autogen/llm_clients/openai_completions_client.py
  autogen/oai/client.py
  test/agentchat/test_agent_with_openai_v2_client.py
  test/llm_clients/test_openai_completions_client.py
  test/llm_clients/test_openai_completions_client_integration.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update notebook
  notebook/agentchat_openai_v2_client_image.ipynb
Due: none

Update integration test
  test/llm_clients/test_openai_completions_client_integration.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix pre-commit errors
  test/oai/test_anthropic.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix lint errors
  autogen/llm_clients/__init__.py
  autogen/llm_clients/gemini_stateless_client.py
  autogen/llm_clients/models/__init__.py
  autogen/llm_clients/models/content_blocks.py
  autogen/llm_clients/openai_completions_client.py
  notebook/test_gemini_clients.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

Add Unit and Integration Tests for Gemini client v2
  test/llm_clients/fixtures/gemini_sample_responses.json
  test/llm_clients/test_gemini_stateless_client.py
  test/llm_clients/test_gemini_stateless_client_fixtures.py
  test/llm_clients/test_gemini_stateless_client_integration.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add A2A Human in the loop support
  autogen/a2a/agent_executor.py
  autogen/a2a/client.py
  autogen/a2a/utils.py
  autogen/agentchat/conversable_agent.py
  autogen/remote/agent_service.py
  autogen/remote/protocol.py
  test/a2a/test_parsing.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: bump version
  autogen/version.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet
