Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet

Fix Firecrawl test mocking and mypy errors
  test/tools/experimental/firecrawl/test_firecrawl.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Tidy
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/group/guardrails.py
  autogen/agentchat/groupchat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

OAI Responses API Init commit
  autogen/oai/client.py
  notebook/agentchat_oai_responses_api.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

OAI Responses API Init commit
  autogen/oai/client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add unit tests
  autogen/oai/client.py
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Use activate_target method
  autogen/agentchat/group/group_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix precommit
  autogen/agentchat/group/group_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add check to make sure that the target agents on guardrails are in the group chat
  autogen/agentchat/group/group_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add group_utils guardrails test
  test/agentchat/group/test_group_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update link index.mdx
  website/docs/_blogs/2025-01-31-WebSurferAgent/index.mdx
Due: none

Add activate_target test
  test/agentchat/group/targets/test_transition_target.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add tests for guardrails
  autogen/agentchat/group/guardrails.py
  test/agentchat/group/test_guardrails.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix precommit
  test/agentchat/group/test_guardrails.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update documentation with guardrails
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/guardrails.mdx
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/introduction.mdx
Due: none

Udpate imports in documentation
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/guardrails.mdx
Due: none

Udpate LLMGuardrail example
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/guardrails.mdx
Due: none

Add user to the agentchat in documentation
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/guardrails.mdx
Due: none

Update complete guardrails example
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/guardrails.mdx
Due: none

Handle other Gemini failures more gracefully
  autogen/oai/gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Model price updates
  autogen/oai/gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Function call fixes
  autogen/oai/gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

pre-commit tidy
  autogen/oai/gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Maintain responses_id to use the same session
  autogen/code_utils.py
  autogen/oai/client.py
  notebook/agentchat_oai_responses_api.ipynb
  notebook/agentchat_oai_responses_image.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

Documentation wording tweaks, test minor fix
  test/agentchat/group/test_guardrails.py
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/guardrails.mdx
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/introduction.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Update OpenAI Image Notebook
  autogen/oai/client.py
  notebook/agentchat_oai_responses_image.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

Update and add more unit tests for OpenAIResponsesClient
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update Unit tests
  test/test_code_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update OAI Responses API notebooks
  notebook/agentchat_oai_responses_api.ipynb
  notebook/agentchat_oai_responses_api_structured_output.ipynb
  notebook/agentchat_oai_responses_image.ipynb
Due: none

Update documentation
  notebook/agentchat_oai_responses_image.ipynb
  website/docs/user-guide/models/openai.mdx
Due: none

Notebook tweak
  notebook/agentchat_oai_responses_image.ipynb
Due: none

Update notebook
  notebook/agentchat_oai_responses_image.ipynb
Due: none

1. use response.run() 2. knob for built-in methods 2.output methods
  autogen/code_utils.py
  autogen/oai/client.py
  notebook/agentchat_oai_responses_image.ipynb
  test/oai/test_responses_client.py
  website/docs/user-guide/models/openai.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Notebook wording tweaks
  notebook/agentchat_oai_responses_image.ipynb
Due: none

bump version
  autogen/version.py
Due: build-setup-scripts, lint, mypy, check-license-headers

update notebook
  notebook/agentchat_oai_responses_image.ipynb
Due: none

add guardrails page to the sidebar
  website/mint-json-template.json.jinja
Due: none

update doc
  notebook/mcp/math/math_server.py
  notebook/mcp/mcp_arxiv.py
  notebook/mcp/mcp_client.ipynb
  notebook/mcp/mcp_filesystem.py
  notebook/mcp/mcp_proxy.ipynb
  notebook/mcp/mcp_proxy_PokeAPI.ipynb
  notebook/mcp/mcp_proxy_asana.ipynb
  notebook/mcp/mcp_proxy_general.ipynb
  notebook/mcp/mcp_proxy_giphy.ipynb
  notebook/mcp/mcp_proxy_github.ipynb
  notebook/mcp/mcp_proxy_trello.ipynb
  notebook/mcp/mcp_proxy_whatsapp.ipynb
  notebook/mcp/mcp_wikipedia.py
  notebook/mcp/security/mcp_proxy_http_oauth.ipynb
  templates/main.jinja2
Due: build-setup-scripts, lint, mypy

fix doc
  notebook/mcp/math/math_server.py
  notebook/mcp/security/mcp_proxy_http_basic.ipynb
Due: build-setup-scripts, lint, mypy

fix install
  notebook/mcp/mcp_proxy.ipynb
  notebook/mcp/mcp_proxy_asana.ipynb
  notebook/mcp/mcp_proxy_whatsapp.ipynb
  notebook/mcp/security/mcp_proxy_api_key_cookie.ipynb
  notebook/mcp/security/mcp_proxy_api_key_header.ipynb
  notebook/mcp/security/mcp_proxy_api_key_query.ipynb
  notebook/mcp/security/mcp_proxy_http_basic.ipynb
  notebook/mcp/security/mcp_proxy_http_bearer.ipynb
  notebook/mcp/security/mcp_proxy_http_oauth.ipynb
Due: none
