Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet

Update uv.lock
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update uv.lock
  uv.lock
Due: none

feat(tools): add recursive_search_tool for WebSwarm-style recursive research
  ag2/tools/subagents/__init__.py
  ag2/tools/subagents/recursive_search.py
  examples/recursive_search.py
  test/tools/test_recursive_search.py
  website/docs/user-guide/recursive_search.mdx
  website/mint-json-template.json.jinja
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(deps): add elevenlabs extra and refactor live tests
  pyproject.toml
  test/live/test_cascade.py
  test/live/test_sound_device.py
  uv.lock
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(tools): pair solve_subtasks children with their specs to avoid zip mismatch when node budget exhausts mid-call
  ag2/tools/subagents/recursive_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test(tools): cover recursive_search edge cases (empty subtasks, subtask failure, node budget mid-flight, agent validation)
  test/tools/test_recursive_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test(tools): cover remaining recursive_search branches and mark unreachable raise as no-cover
  ag2/tools/subagents/recursive_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test(tools): add ActivityStorage proxy and no-timeout branch coverage
  test/tools/test_recursive_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test: add on_turn coverage (5 tests for all mode branches)
  test/extensions/tealtiger/test_governance_middleware.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore(policy): policy for handling AI-generated reviews
  .github/AI_POLICY.md
  .github/review/TRIAGE_AI_TASKS.md
  .github/review/TRIAGE_POLICY.md
  .github/review/replies/README.md
  .github/review/replies/ai-slop-review.md
Due: none

test: add cost_limit policy coverage (3 tests)
  test/extensions/tealtiger/test_governance_middleware.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(acp): allow positional command argument in ACPConfig
  ag2/acp/config.py
  test/acp/test_config.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs: switch Channels page to Intelligence-managed connection
  website/docs/user-guide/ag-ui/channels.mdx
Due: none

refactor(acp): restructure config hierarchy and stabilize API
  ag2/acp/bridge.py
  ag2/acp/client.py
  ag2/acp/config.py
  ag2/acp/remote.py
  test/acp/test_config.py
  test/acp/test_remote_config.py
  website/docs/user-guide/acp/client.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(policies): implement replay invariants for history reduction
  ag2/_replay.py
  ag2/compact.py
  ag2/policies/_pairing.py
  ag2/policies/sliding_window.py
  ag2/policies/token_budget.py
  test/_helpers.py
  test/config/openai/test_builtin_tool_events.py
  test/policies/test_reasoning_pairing.py
  test/test_compact.py
  website/docs/user-guide/advanced/assembly.mdx
  website/docs/user-guide/advanced/compaction.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(middleware): apply replay invariants to history and token limiters
  ag2/_replay.py
  ag2/middleware/builtin/history_limiter.py
  ag2/middleware/builtin/token_limiter.py
  test/middleware/builtins/test_history_limiter.py
  test/middleware/builtins/test_token_limiter.py
  test/policies/test_reasoning_pairing.py
  website/docs/user-guide/advanced/assembly.mdx
  website/docs/user-guide/middleware.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(policies): ensure provider-native events are preserved in conversation history
  ag2/config/openai/events.py
  ag2/config/xai/events.py
  ag2/events/__init__.py
  ag2/events/base.py
  ag2/policies/conversation.py
  test/config/xai/test_convert_messages.py
  test/test_assembly.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(replay): implement turn-item preservation for provider-native state
  ag2/_replay.py
  test/_helpers.py
  test/config/xai/test_convert_messages.py
  test/policies/test_reasoning_pairing.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(tenki): skip the test package without the SDK and retry a failed sandbox close
  test/extensions/tenki/__init__.py
  test/extensions/tenki/test_tenki_environment.py
  test/extensions/tenki/test_tenki_sandbox.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test(tools): cover the backend-declared workdir and code_runners hooks
  test/tools/sandbox/_helpers.py
  test/tools/sandbox/adapter/test_shell_adapter.py
  test/tools/test_sandbox_code.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(tools): keep Daytona as the code-execution lifecycle example
  website/docs/user-guide/tools/code_execution.mdx
Due: none

fix(tenki): update AsyncIterator to AsyncGenerator and improve sandbox closure handling
  ag2/extensions/tenki/environment.py
  ag2/extensions/tenki/sandbox.py
  ag2/tools/shell/tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(agents): remove redundant statement about sandbox factories declaring code_runners
  AGENTS.md
Due: none

feat(tenki): integrate CodeAdapter for sandbox code execution and update documentation
  ag2/extensions/tenki/environment.py
  ag2/tools/code/tool.py
  test/extensions/tenki/test_tenki_environment.py
  test/tools/sandbox/_helpers.py
  test/tools/test_sandbox_code.py
  website/docs/user-guide/extensions/tenki.mdx
  website/docs/user-guide/tools/code_execution.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(tools): let a factory declare its workdir through a WorkdirAware protocol
  ag2/extensions/tenki/environment.py
  ag2/tools/sandbox/__init__.py
  ag2/tools/sandbox/adapter/shell.py
  ag2/tools/sandbox/factory.py
  test/extensions/tenki/test_tenki_environment.py
  test/tools/sandbox/_helpers.py
  test/tools/sandbox/adapter/test_shell_adapter.py
  website/docs/user-guide/extensions/tenki.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(tenki): stop reporting a silent success as an abnormal exit
  ag2/extensions/tenki/sandbox.py
  test/extensions/tenki/test_tenki_sandbox.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(tenki): improve sandbox execution reliability and documentation
  ag2/extensions/tenki/environment.py
  ag2/extensions/tenki/sandbox.py
  test/extensions/tenki/test_tenki_environment.py
  test/extensions/tenki/test_tenki_sandbox.py
  website/docs/user-guide/tools/code_execution.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: ACP version bump to 0.12
  pyproject.toml
  test/acp/test_agent_prompt.py
  test/acp/test_mappers.py
  uv.lock
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(middleware): correct tool middleware sharing claims
  ag2/middleware/describe.py
  ag2/tools/final/function_tool.py
  ag2/tools/tool.py
  test/middleware/test_tool_execution.py
  website/docs/user-guide/tools/tool_middleware.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(events): replace type-based role inference with explicit `__replay_role__`
  ag2/_replay.py
  ag2/config/openai/events.py
  ag2/config/xai/events.py
  ag2/events/base.py
  ag2/policies/conversation.py
  test/_helpers.py
  test/policies/test_reasoning_pairing.py
  test/test_assembly.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(user-guide): update assembly and compaction documentation
  website/docs/user-guide/advanced/assembly.mdx
  website/docs/user-guide/advanced/compaction.mdx
Due: none

fix(test): de-flake transport demux delivery assertions
  test/network/_helpers.py
  test/network/test_transport_demux.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore(bump): bump version 1.0.2
  pyproject.toml
Due: none

Add TealTiger Governance documentation
  website/docs/user-guide/extensions/tealtiger.mdx
Due: none

chore(deps): drop tiktoken, termcolor, python-dotenv and packaging from runtime deps
  ag2/_import_utils.py
  pyproject.toml
  uv.lock
Due: build-setup-scripts, lint, mypy, check-license-headers

chore(deps): drop unused packages from the gemini, anthropic, ollama and tracing extras
  pyproject.toml
  test/providers/gemini/__init__.py
  uv.lock
Due: build-setup-scripts, lint, mypy, check-license-headers

chore(deps): drop the orphaned notebook pipeline and unused dev-group packages
  pyproject.toml
  uv.lock
  website/mkdocs/_website/notebook_processor.py
  website/mkdocs/_website/process_notebooks.py
  website/process_notebooks.py
Due: build-setup-scripts, lint, mypy

chore: remove artifacts orphaned by the 1.0 rewrite
  .github/workflows/build-mkdocs.yml
  .github/workflows/pr-checks.yml
  .gitignore
  .pre-commit-config.yaml
  OAI_CONFIG_LIST_sample
  _typos.toml
  announcements.md
  pyproject.toml
  scripts/devcontainer/generate-devcontainers.py
  scripts/devcontainer/generate-devcontainers.sh
  scripts/devcontainer/templates/devcontainer.json.jinja
  scripts/show-coverage-report.sh
  scripts/test-docs.sh
  scripts/test-llm.sh
  scripts/test-skip-llm.sh
  scripts/test.sh
  website/.gitignore
  website/README.md
  website/docs/contributor-guide/documentation.mdx
  website/docs/contributor-guide/setup-development-environment.mdx
  website/docs/contributor-guide/tests.mdx
  website/docusaurus.config.js
  website/mkdocs/docs.py
  website/mkdocs/expand_markdown.py
  website/mkdocs/generate_mkdocs.py
  website/mkdocs/update_releases.py
Due: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

docs(ag-ui): update channels and index documentation
  website/docs/user-guide/ag-ui/channels.mdx
  website/docs/user-guide/ag-ui/index.mdx
Due: none
