Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

build-setup-scripts:
  name: build setup scripts
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-build-setup-files.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2
  - toml
  - ruff

lint:
  name: linting and formatting
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-lint.sh
  language: python
  require_serial: true
  verbose: true

mypy:
  name: mypy
  stages:
  - pre-commit
  - pre-merge-commit
  entry: ./scripts/pre-commit-mypy-run.sh
  language: python
  additional_dependencies: []
  require_serial: true
  verbose: true

check-license-headers:
  name: check license headers
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: python ./scripts/pre-commit-license-check.py
  language: python

generate-devcontainer-files:
  name: Generate devcontainer files
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/devcontainer/generate-devcontainers.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2

fix: skip api-docs submodules with missing optional deps
  website/mkdocs/create_api_docs.py
Due: build-setup-scripts, lint, mypy

refactor(security): simplify require function to support positional arguments and improve documentation
  autogen/beta/a2a/security.py
  test/beta/a2a/test_security.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(a2a): enhance documentation with detailed descriptions and examples for AgentCard customization, task listing, and error handling
  website/docs/beta/a2a/advanced.mdx
  website/docs/beta/a2a/client.mdx
  website/docs/beta/a2a/overview.mdx
  website/docs/beta/a2a/server.mdx
  website/docs/beta/a2a/tasks_and_push.mdx
Due: none

fix(transports): update missing_optional_dependency calls to use a2a-sdk for better clarity
  autogen/beta/a2a/transports/__init__.py
  pyproject.toml
  setup_autogen.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(CODEOWNERS): add @vvlrff as code owner for /autogen/beta/a2a/
  .github/CODEOWNERS
Due: none

feat(beta/network): add HumanClient + Passport.kind for native HITL
  autogen/beta/network/__init__.py
  autogen/beta/network/client/__init__.py
  autogen/beta/network/client/hub_client.py
  autogen/beta/network/client/human_client.py
  autogen/beta/network/hub/core.py
  autogen/beta/network/identity.py
  test/beta/network/test_human_client.py
  test/beta/providers/anthropic/test_workflow_smoke.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(beta/network): stabilization fixes from PR4 review
  autogen/beta/network/__init__.py
  autogen/beta/network/client/handlers.py
  autogen/beta/network/client/hub_client.py
  autogen/beta/network/client/human_client.py
  autogen/beta/network/hub/__init__.py
  autogen/beta/network/hub/arbiter.py
  autogen/beta/network/hub/audit.py
  autogen/beta/network/hub/core.py
  autogen/beta/network/hub/expectations.py
  autogen/beta/network/identity.py
  test/beta/network/test_human_client.py
  test/beta/network/test_observability.py
  test/beta/network/test_sweeper_and_registry.py
  test/beta/providers/anthropic/test_workflow_smoke.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta/network): HubListener + HubArbiter observability layer
  autogen/beta/network/__init__.py
  autogen/beta/network/client/handlers.py
  autogen/beta/network/hub/__init__.py
  autogen/beta/network/hub/arbiter.py
  autogen/beta/network/hub/audit.py
  autogen/beta/network/hub/core.py
  autogen/beta/network/hub/listener.py
  test/beta/network/test_observability.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(beta/network): Py3.10 datetime.UTC compat + lint auto-fixes
  autogen/beta/network/__init__.py
  autogen/beta/network/hub/audit.py
  autogen/beta/network/identity.py
  test/beta/network/test_human_client.py
  test/beta/providers/anthropic/test_workflow_smoke.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: update import error handling to use missing_additional_dependency for better clarity
  autogen/a2a/__init__.py
  autogen/beta/a2a/__init__.py
  autogen/beta/a2a/transports/__init__.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Refactor A2A security model and enhance examples
  autogen/beta/a2a/card.py
  autogen/beta/a2a/security.py
  examples/a2a/__init__.py
  examples/a2a/a2a_as_tool.py
  examples/a2a/client_basic.py
  examples/a2a/client_tool.py
  examples/a2a/hitl.py
  examples/a2a/multi_tenant.py
  examples/a2a/push_notifications.py
  examples/a2a/security.py
  examples/a2a/server_basic.py
  examples/a2a/server_multi_transport.py
  examples/a2a/tasks_management.py
  test/beta/a2a/test_card.py
  test/beta/a2a/test_security.py
  website/docs/beta/a2a/overview.mdx
  website/docs/beta/a2a/server.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Documentation
  website/docs/beta/network/agent_clients.mdx
  website/docs/beta/network/expectations_and_audit.mdx
  website/docs/beta/network/hub_and_identity.mdx
  website/docs/beta/network/human_client.mdx
  website/docs/beta/network/migration_from_group_chat.mdx
  website/docs/beta/network/overview.mdx
  website/mint-json-template.json.jinja
Due: none

Tweak HumanClient documentation
  website/docs/beta/network/human_client.mdx
Due: none

Switch interop-pydantic-ai extra to pydantic-ai-slim
  pyproject.toml
Due: none

feat(beta/knowledge): opt-out flags and observable aggregation lifecycle
  autogen/beta/agent.py
  autogen/beta/aggregate.py
  autogen/beta/events/__init__.py
  autogen/beta/events/lifecycle.py
  autogen/beta/knowledge/bootstrap.py
  test/beta/agent/test_knowledge_tool.py
  test/beta/test_aggregate.py
  test/beta/test_compact.py
  website/docs/beta/advanced/aggregation.mdx
  website/docs/beta/agent_harness.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta/network): adapter-owned tools + subclass surface + latent fixes
  autogen/beta/network/adapters/base.py
  autogen/beta/network/adapters/consulting.py
  autogen/beta/network/adapters/conversation.py
  autogen/beta/network/adapters/discussion.py
  autogen/beta/network/adapters/workflow.py
  autogen/beta/network/client/handlers.py
  autogen/beta/network/client/plugin.py
  autogen/beta/network/client/tools/channels.py
  autogen/beta/network/hub/core.py
  autogen/beta/network/rule.py
  autogen/beta/network/task_mirror.py
  test/beta/network/test_adapter_tools.py
  test/beta/network/test_subclass_surface.py
  test/beta/network/test_tools.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(beta/network): stabilization fixes from PR5 review
  autogen/beta/network/__init__.py
  autogen/beta/network/adapters/__init__.py
  autogen/beta/network/adapters/consulting.py
  autogen/beta/network/adapters/conversation.py
  autogen/beta/network/adapters/discussion.py
  autogen/beta/network/client/handlers.py
  autogen/beta/network/client/hub_client.py
  autogen/beta/network/client/tools/channels.py
  autogen/beta/network/client/tools/say.py
  autogen/beta/network/hub/core.py
  autogen/beta/network/task_mirror.py
  test/beta/network/test_adapter_tools.py
  test/beta/network/test_bridge_drives_workflow.py
  test/beta/network/test_channel_pruning.py
  test/beta/network/test_subclass_surface.py
Due: build-setup-scripts, lint, mypy, check-license-headers

style: ruff format collapsed multi-line strings
  autogen/beta/agent.py
  autogen/beta/knowledge/bootstrap.py
  test/beta/test_aggregate.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test: filter cohere/groq/together provider tests out of the no-LLM run
  pyproject.toml
  scripts/test-skip-llm.sh
Due: none

Fix UnboundLocalError: initialize task variable before event loop
  autogen/a2a/client.py
  test/a2a/test_task_initialization.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Documentation
  website/docs/beta/network/adapters_overview.mdx
  website/docs/beta/network/agent_clients.mdx
  website/docs/beta/network/envelopes_and_events.mdx
  website/docs/beta/network/expectations_and_audit.mdx
  website/docs/beta/network/hub_and_identity.mdx
  website/docs/beta/network/network_assigned_tools.mdx
Due: none

Fix test: use MockClient instead of broken MessageOnlyClient
  test/a2a/test_task_initialization.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Documentation tweaks
  website/docs/beta/advanced/compaction.mdx
  website/docs/beta/advanced/knowledge_store.mdx
Due: none

fix(interop/langchain): use arun for async langchain tools
  autogen/interop/langchain/langchain_tool.py
  test/interop/langchain/test_langchain.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(fast_depends): keep positional args out of **kwargs when passed by name
  autogen/fast_depends/core/model.py
  test/fast_depends/async/test_cast.py
  test/fast_depends/sync/test_cast.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(interop/langchain): satisfy mypy on conditional wrapper
  autogen/interop/langchain/langchain_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: new iteration
  autogen/beta/agent.py
  autogen/beta/config/__init__.py
  autogen/beta/config/anthropic/config.py
  autogen/beta/config/config.py
  autogen/beta/config/dashscope/config.py
  autogen/beta/config/gemini/config.py
  autogen/beta/config/ollama/config.py
  autogen/beta/config/openai/config.py
  autogen/beta/middleware/builtin/metrics.py
  autogen/beta/testing.py
  autogen/beta/utils.py
  openspec/changes/prometheus-metrics/design.md
  openspec/changes/prometheus-metrics/proposal.md
  openspec/changes/prometheus-metrics/specs/llm-metrics/spec.md
  openspec/changes/prometheus-metrics/tasks.md
  test/beta/agent/test_tools_di.py
  test/beta/config/gemini/test_gemini_config.py
  test/beta/middleware/builtins/metrics/test_metrics.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: base exception excepting
  autogen/beta/middleware/builtin/metrics.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat:
  autogen/beta/testing.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add codex to gitignore
  .gitignore
Due: none

AI Agent Privacy Notice
  README.md
Due: none

refactor(beta): replace ToolCallEvent.provider_data with typed Gemini subclass
  autogen/beta/ag_ui/stream.py
  autogen/beta/config/gemini/events.py
  autogen/beta/config/gemini/gemini_client.py
  autogen/beta/config/gemini/mappers.py
  autogen/beta/events/tool_events.py
  test/beta/config/gemini/test_tool_call_event.py
  test/beta/events/test_serialization.py
  test/beta/providers/gemini/test_gemini_integration.py
  test/beta/stream/redis/test_redis_stream.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(blog): add LiveAgent post for GPT Realtime 2
  .gitattributes
  website/docs/_blogs/2026-05-12-LiveAgent/img/live-agent-hero.png
  website/docs/_blogs/2026-05-12-LiveAgent/index.mdx
Due: none

fix(beta): update ModelRequest and ToolResult instantiation in map_agui_messages_to_events
  autogen/beta/ag_ui/stream.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Version 0.13 bump and roadmap updates
  autogen/version.py
  website/docs/beta/roadmap.mdx
  website/docs/user-guide/release-roadmap.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Remove non-beta image generation tests as models deprecated
  .github/workflows/contrib-llm-test.yml
  test/agentchat/contrib/capabilities/test_image_generation_capability.py
Due: build-setup-scripts, lint, mypy, check-license-headers

ci(beta): fix LLM test failures — watchdog dep + cross-provider job + gemini-live lock to genai
  .github/workflows/beta-llm-test.yml
  test/beta/live/test_gemini_session_build.py
  test/beta/providers/test_network_mixed_provider.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Replace AG2 logo
  website/docs/_blogs/2026-05-12-LiveAgent/img/live-agent-hero.png
Due: none

Fix mixed-LLM network test
  test/beta/providers/test_network_mixed_provider.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Remove deprecated OpenAI realtime audio models
  autogen/beta/live/openai.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet
