Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet

fix(web_fetch): warn when no domain restrictions are configured
  ag2/tools/builtin/web_fetch.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: update repo references after rename to ag2ai/ag2-classic
  .devcontainer/Dockerfile
  .github/workflows/python-package.yml
  NOTICE.md
  README.md
  TRANSPARENCY_FAQS.md
  pyproject.toml
  website/docs/user-guide/release-history.mdx
  website/mkdocs/mkdocs.yml
Due: none

feat(anthropic): accept code_execution_20260521 tool version
  ag2/tools/builtin/code_execution.py
  test/config/anthropic/tools/test_code_execution.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(openai): add FileSearchTool for Responses API file_search
  ag2/config/openai/mappers.py
  ag2/tools/__init__.py
  ag2/tools/builtin/__init__.py
  ag2/tools/builtin/file_search.py
  test/config/anthropic/tools/test_unsupported.py
  test/config/openai/tools/test_file_search.py
  test/config/openai/tools/test_unsupported.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(openai): emit builtin tool events for file_search_call items
  ag2/config/openai/events.py
  test/config/openai/test_builtin_tool_events.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(openai): add skill_reference extraction and shell-env merge helpers
  ag2/config/openai/mappers.py
  test/config/openai/tools/test_skills_responses.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(openai): support SkillsTool on the Responses API via shell container skills
  ag2/config/openai/openai_responses_client.py
  ag2/tools/builtin/skills.py
  test/config/openai/test_responses_client_skills.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test(openai): relocate skills mapper-invariant test and cover include passthrough
  test/config/openai/test_responses_client_skills.py
  test/config/openai/tools/test_skills_responses.py
  test/config/openai/tools/test_unsupported.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: sync uv.lock with 1.0.0b0 version bump
  uv.lock
Due: none

fix(openai): send skill_reference version as a string per API spec
  ag2/config/openai/mappers.py
  test/config/openai/test_responses_client_skills.py
  test/config/openai/tools/test_skills_responses.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test(tools): cover FileSearchTool unsupported providers and variable resolution
  test/config/bedrock/tools/test_unsupported.py
  test/config/dashscope/tools/test_unsupported.py
  test/config/gemini/tools/test_unsupported.py
  test/config/ollama/tools/test_unsupported.py
  test/config/xai/tools/test_unsupported.py
  test/config/zai/tools/test_unsupported.py
  test/tools/test_resolve.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(tools): document FileSearchTool, provider skills, and code_execution versions
  ag2/tools/builtin/skills.py
  website/docs/user-guide/skills.mdx
  website/docs/user-guide/tools/builtin_tools.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

chore(deps): bump anthropic SDK minimum to 0.116.0
  pyproject.toml
  uv.lock
Due: none

docs: add triage policy and restructure repository labels
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/review/TRIAGE_POLICY.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

docs(triage): maintainer-authored issues enter at status:confirmed
  .github/review/TRIAGE_POLICY.md
Due: none

ci(dependabot): add area labels to dependabot PRs
  .github/dependabot.yml
Due: none

ci(dependabot): actions updates are area:actions only, not area:deps
  .github/dependabot.yml
Due: none

docs(triage): add canned replies and core-module area labels
  .github/labeler.yml
  .github/review/TRIAGE_AI_TASKS.md
  .github/review/TRIAGE_POLICY.md
  .github/review/replies/README.md
  .github/review/replies/ai-slop.md
  .github/review/replies/close-duplicate.md
  .github/review/replies/close-invalid.md
  .github/review/replies/close-wontfix.md
  .github/review/replies/extension-maintainer-ping.md
  .github/review/replies/extension-suggestion.md
  .github/review/replies/merge-conflict.md
  .github/review/replies/needs-cla.md
  .github/review/replies/needs-reproduction.md
  .github/review/replies/needs-template-issue.md
  .github/review/replies/needs-template-pr.md
  .github/review/replies/redirect-question.md
  .github/review/replies/security-report.md
  .github/review/replies/stale-close.md
  .github/review/replies/stale-warning.md
  .github/review/replies/welcome-first-pr.md
Due: none

docs(triage): AI task runbook, duplicate proposals, MRE requirement
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/review/TRIAGE_AI_TASKS.md
  .github/review/TRIAGE_POLICY.md
  .github/review/replies/README.md
  .github/review/replies/ai-slop.md
  .github/review/replies/duplicate-suspect.md
  .github/review/replies/needs-template-issue.md
  .github/review/replies/needs-template-pr.md
Due: none

docs(triage): area-based CODEOWNERS and docs scope cleanup
  .github/CODEOWNERS
  .github/labeler.yml
  .github/review/TRIAGE_POLICY.md
Due: none

Add total and thinking token_types to documentation
  website/docs/user-guide/metrics.mdx
Due: none

fix: harden hub telemetry — guard non-recording spans, record dispatch failures and escaped exceptions on envelope spans, emit cancelled-task spans
  ag2/network/hub/_envelope_tracing.py
  ag2/network/hub/core.py
  ag2/network/hub/telemetry.py
  test/network/test_hub_telemetry.py
  website/docs/user-guide/telemetry/agent.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(knowledge): serialize SqliteKnowledgeStore read paths with the connection lock
  ag2/knowledge/sqlite.py
  test/knowledge/test_knowledge.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Documentation tweaks
  website/docs/user-guide/telemetry/network.mdx
Due: none

feat(config): add OrcaRouter as a first-class provider
  ag2/config/__init__.py
  ag2/config/config.py
  ag2/config/orcarouter/__init__.py
  ag2/config/orcarouter/config.py
  test/config/orcarouter/__init__.py
  test/config/orcarouter/test_orcarouter_config.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(acp): document authentication & billing model for CLI agents
  website/docs/user-guide/cli_agents.mdx
Due: none

docs(acp): correct env-inheritance and billing details for CLI agents
  ag2/acp/config.py
  website/docs/user-guide/cli_agents.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(tools): add GoogleMapsTool and Gemini fields for FileSearchTool
  ag2/tools/__init__.py
  ag2/tools/builtin/__init__.py
  ag2/tools/builtin/file_search.py
  ag2/tools/builtin/google_maps.py
  test/tools/test_resolve.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(gemini): map file_search/google_maps tools and surface grounding events
  ag2/config/gemini/events.py
  ag2/config/gemini/gemini_client.py
  ag2/config/gemini/mappers.py
  test/config/gemini/test_builtin_tool_events.py
  test/config/gemini/tools/test_file_search.py
  test/config/gemini/tools/test_google_maps.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test(config): cover FileSearch/GoogleMaps as unsupported across providers
  test/config/anthropic/tools/test_unsupported.py
  test/config/bedrock/tools/test_unsupported.py
  test/config/dashscope/tools/test_unsupported.py
  test/config/ollama/tools/test_unsupported.py
  test/config/openai/tools/test_unsupported.py
  test/config/xai/tools/test_unsupported.py
  test/config/zai/tools/test_unsupported.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(tools): document GoogleMapsTool and FileSearchTool Gemini support
  website/docs/user-guide/tools/builtin_tools.mdx
Due: none

docs(website): fix homepage 404s and restructure navigation tabs
  README.md
  website/docs/contributor-guide/contribution_policy.mdx
  website/docs/user-guide/extensions/nlipagent.mdx
  website/docs/user-guide/quick-start.mdx
  website/docs/user-guide/roadmap.mdx
  website/mint-json-template.json.jinja
  website/mkdocs/_website/generate_mkdocs.py
  website/mkdocs/_website/llms_txt.py
  website/mkdocs/_website/utils.py
  website/mkdocs/mkdocs.yml
  website/mkdocs/overrides/home.html
Due: build-setup-scripts, lint, mypy

fix(gemini): correct grounding event mapping for google_maps and file_search
  ag2/config/gemini/events.py
  ag2/config/gemini/mappers.py
  test/config/gemini/test_builtin_tool_events.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore(deps): remove unused dev/test/types dependencies
  pyproject.toml
Due: none

Update uv.lock
  uv.lock
Due: none

docs: show OrcaRouter usage via OpenAIConfig base_url + extra_body
  website/docs/user-guide/model_configuration.mdx
Due: none

feat(xai): add CollectionsSearchTool for server-side collection search
  ag2/config/xai/mappers.py
  ag2/tools/__init__.py
  ag2/tools/builtin/__init__.py
  ag2/tools/builtin/collections_search.py
  test/config/anthropic/tools/test_unsupported.py
  test/config/bedrock/tools/test_unsupported.py
  test/config/dashscope/tools/test_unsupported.py
  test/config/gemini/tools/test_unsupported.py
  test/config/ollama/tools/test_unsupported.py
  test/config/openai/tools/test_unsupported.py
  test/config/xai/tools/test_collections_search.py
  test/config/zai/tools/test_unsupported.py
  test/tools/test_resolve.py
  website/docs/user-guide/tools/builtin_tools.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(anthropic): support new web_fetch/web_search tool versions
  ag2/tools/builtin/web_fetch.py
  ag2/tools/builtin/web_search.py
  test/config/anthropic/tools/test_web_fetch.py
  test/config/anthropic/tools/test_web_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(test): fix builtin-tools test paths in AGENTS.md
  test/AGENTS.md
Due: none

feat(anthropic): support new web_fetch/web_search tool versions
  ag2/tools/builtin/web_fetch.py
  ag2/tools/builtin/web_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers
