Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet

docs(ag-ui): refine channel configuration and installation steps
  website/docs/user-guide/ag-ui/channels.mdx
  website/docs/user-guide/ag-ui/index.mdx
Due: none

fix(subagents): reuse one stream object in persistent_stream()
  AGENTS.md
  ag2/tools/subagents/persistent_stream.py
  ag2/tools/subagents/run_task.py
  test/tools/test_persistent_stream.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Fix typo in title and update description
  website/docs/user-guide/extensions/tealtiger.mdx
Due: none

docs(tealtiger): refactor documentation and update mint template
  website/docs/user-guide/extensions/tealtiger.mdx
  website/mint-json-template.json.jinja
Due: none

feat(eval): implement usage-based token accounting via `UsageEvent`
  ag2/_telemetry_consts.py
  ag2/eval/results/result.py
  ag2/eval/results/store.py
  ag2/eval/runtime/variants.py
  ag2/eval/sources/_spans.py
  ag2/eval/trace.py
  ag2/events/task_events.py
  ag2/middleware/builtin/telemetry.py
  ag2/observers/token_monitor.py
  docs/adr/0014-token-accounting-reads-usageevent.md
  test/eval/results/test_result.py
  test/eval/results/test_store.py
  test/eval/runtime/test_evaluate.py
  test/eval/runtime/test_runner.py
  test/eval/runtime/test_smoke_weather.py
  test/eval/scorers/test_builtin_scorers.py
  test/eval/sources/test_spans.py
  test/eval/sources/test_trace_fidelity.py
  test/eval/test_trace.py
  test/middleware/telemetry/test_telemetry.py
  test/observer/test_builtin.py
  website/docs/user-guide/advanced/observers.mdx
  website/docs/user-guide/evaluation/persistence.mdx
  website/docs/user-guide/evaluation/runs.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(telemetry): decouple usage recording from middleware lifecycle
  ag2/eval/sources/_spans.py
  ag2/middleware/builtin/telemetry.py
  docs/adr/0014-token-accounting-reads-usageevent.md
  test/eval/runtime/test_evaluate.py
  test/eval/test_trace.py
  test/middleware/telemetry/test_telemetry.py
  test/observer/test_builtin.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(agent): ensure stream serialization via stream ID instead of object identity
  AGENTS.md
  ag2/agent.py
  ag2/stream.py
  ag2/tools/subagents/persistent_stream.py
  ag2/tools/subagents/run_task.py
  test/agent/test_concurrent_asks.py
  test/tools/test_persistent_stream.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(acp): implement in-order update handling and remove manual settling
  ag2/acp/bridge.py
  ag2/acp/client.py
  ag2/acp/config.py
  ag2/acp/dispatch.py
  ag2/acp/remote.py
  ag2/acp/testing.py
  pyproject.toml
  test/acp/test_update_settling.py
  uv.lock
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor: annotate contextmanager returns as Generator, not Iterator
  AGENTS.md
  ag2/a2a/_session.py
  ag2/acp/sessions.py
  ag2/agent.py
  ag2/extensions/daytona/environment.py
  ag2/extensions/docker/environment.py
  ag2/extensions/tools/search/tinyfish.py
  ag2/live/cascade.py
  ag2/live/gemini.py
  ag2/live/openai.py
  ag2/live/realtime.py
  ag2/mcp/executor.py
  ag2/mcp/server.py
  ag2/mcp/sessions.py
  ag2/mcp/testing.py
  ag2/network/transport/ws.py
  ag2/stream.py
  ag2/tools/sandbox/adapter/code.py
  ag2/tools/sandbox/factory.py
  ag2/tools/toolkits/mcp_server/toolkit.py
  test/providers/test_network_cross_process_smoke.py
  test/tools/skills/test_toolkit.py
  test/tools/test_local_shell.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(acp): let a host answer a served agent's human-input request
  ag2/acp/agent.py
  ag2/acp/executor.py
  test/acp/test_agent_hitl.py
  website/docs/user-guide/acp/server.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(hitl): fail the turn when nobody can answer a human-input request
  ag2/acp/agent.py
  ag2/acp/executor.py
  ag2/agent.py
  ag2/context.py
  ag2/exceptions.py
  ag2/hitl.py
  ag2/testing.py
  ag2/tools/executor.py
  ag2/tools/final/function_tool.py
  ag2/tools/subagents/run_task.py
  test/acp/test_agent_hitl.py
  test/agent/test_hitl.py
  test/middleware/builtins/metrics/test_metrics.py
  website/docs/user-guide/acp/server.mdx
  website/docs/user-guide/context/human_in_the_loop.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(subagents): bound concurrent task fan-out
  ag2/agent.py
  test/tools/test_task.py
  website/docs/user-guide/agent_harness.mdx
  website/docs/user-guide/subagents.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(skills): execute nested scripts from declared paths
  ag2/tools/skills/runtime/local/runtime.py
  test/tools/skills/test_toolkit.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(mcp): support namespaced toolkit tools
  ag2/tools/toolkits/mcp_server/toolkit.py
  test/tools/test_mcp.py
  website/docs/user-guide/tools/mcp_servers.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: await async scorer results
  ag2/eval/scorer.py
  test/eval/test_scorer_decorator.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(mcp): upgrade to MCP 2.0 and update handler registration
  ag2/acp/tool_gateway.py
  ag2/mcp/executor.py
  ag2/mcp/mappers.py
  ag2/mcp/prompts.py
  ag2/mcp/resources.py
  ag2/mcp/server.py
  ag2/mcp/testing.py
  ag2/mcp/tools.py
  ag2/mcp_ui/resources.py
  ag2/tools/toolkits/mcp_server/toolkit.py
  pyproject.toml
  test/acp/test_client_e2e.py
  test/acp/test_remote_e2e.py
  test/acp/test_tool_gateway.py
  test/mcp/test_content_mapping.py
  test/mcp/test_context_provider.py
  test/mcp/test_custom_tools.py
  test/mcp/test_e2e_structured.py
  test/mcp/test_e2e_text.py
  test/mcp/test_errors.py
  test/mcp/test_http.py
  test/mcp/test_input_validation.py
  test/mcp/test_progress.py
  test/mcp/test_resources.py
  test/mcp/test_server_info.py
  test/mcp_ui/test_resources.py
  test/tools/test_mcp_live_transport.py
  website/snippets/mcp/client.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(mcp): improve error handling and resource validation
  ag2/acp/tool_gateway.py
  ag2/mcp/executor.py
  ag2/mcp/server.py
  ag2/mcp/sessions.py
  ag2/mcp_ui/resources.py
  ag2/tools/toolkits/mcp_server/toolkit.py
  test/mcp/test_errors.py
  test/mcp_ui/test_resources.py
  test/tools/test_mcp_live_transport.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(extensions/tealtiger): add prompt injection detection to governance middleware
  ag2/extensions/tealtiger/__init__.py
  ag2/extensions/tealtiger/middleware.py
  ag2/extensions/tealtiger/types.py
  test/extensions/tealtiger/test_prompt_injection.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(config): add OrcaRouter as a named LLM provider
  README.md
  ag2/config/__init__.py
  ag2/config/config.py
  ag2/config/orcarouter/__init__.py
  ag2/config/orcarouter/config.py
  ag2/config/orcarouter/orcarouter_client.py
  pyproject.toml
  test/config/orcarouter/__init__.py
  test/config/orcarouter/test_orcarouter_config.py
  test/middleware/builtins/metrics/test_metrics.py
  uv.lock
  website/docs/user-guide/model_configuration.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Update uv.lock
  uv.lock
Due: none

fix(eval): improve async scorer handling and prevent double wrapping
  ag2/eval/scorer.py
  test/eval/test_scorer_decorator.py
  website/docs/user-guide/evaluation/scorers.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

docs: fix broken user guide links
  website/docs/user-guide/ag-ui/backend-deepdive.mdx
  website/docs/user-guide/context/inject.mdx
  website/docs/user-guide/depends.mdx
  website/docs/user-guide/middleware.mdx
Due: none

docs(website): fix directory links and broken heading anchors
  website/AGENTS.md
  website/docs/user-guide/a2a/client.mdx
  website/docs/user-guide/a2ui/a2a.mdx
  website/docs/user-guide/ag-ui/channels.mdx
  website/docs/user-guide/agent_harness.mdx
  website/docs/user-guide/network/discussion.mdx
  website/docs/user-guide/network/pattern_cookbook/hierarchical.mdx
Due: none

docs(tealtiger): add prompt injection detection section to extension guide
  website/docs/user-guide/extensions/tealtiger.mdx
Due: none

feat(mcp): implement tool namespacing via `tool_name_prefix`
  ag2/tools/toolkits/mcp_server/toolkit.py
  ag2/tools/toolkits/mcp_server/types.py
  test/tools/test_mcp.py
  website/docs/user-guide/tools/mcp_servers.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(extensions/tealtiger): return typed injection findings and validate policy config
  ag2/extensions/tealtiger/__init__.py
  ag2/extensions/tealtiger/middleware.py
  ag2/extensions/tealtiger/types.py
  test/extensions/tealtiger/test_prompt_injection.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(tealtiger): correct pattern count, clarify threshold and policy-order semantics
  website/docs/user-guide/extensions/tealtiger.mdx
Due: none

docs(a2ui): use build_card(extensions=...) in a2a.mdx Minimal Server example
  website/docs/user-guide/a2ui/a2a.mdx
Due: none

feat(extensions/tealtiger): add prompt injection detection to governance middleware (#3193)
  ag2/extensions/tealtiger/__init__.py
  ag2/extensions/tealtiger/middleware.py
  ag2/extensions/tealtiger/types.py
  test/extensions/tealtiger/test_prompt_injection.py
  website/docs/user-guide/extensions/tealtiger.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(mcp): add server metadata and cache hints support
  ag2/mcp/server.py
  test/mcp/test_server_info.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(acp): propagate unsupported human input errors
  ag2/acp/executor.py
  ag2/exceptions.py
  ag2/tools/executor.py
  ag2/tools/final/function_tool.py
  test/acp/test_agent_hitl.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test(acp): cover middleware and regular tool errors
  test/acp/test_agent_hitl.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(mcp): add resource subscriptions and notifications
  ag2/mcp/__init__.py
  ag2/mcp/resources.py
  ag2/mcp/server.py
  ag2/mcp/subscriptions.py
  ag2/mcp/testing.py
  test/mcp/test_subscriptions.py
  website/docs/user-guide/tools/mcp_servers.mdx
  website/docs/user-guide/tools/mcp_serving.mdx
  website/mint-json-template.json.jinja
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor(core): tighten module name validation and update docs
  ag2/_import_utils.py
  test/providers/gemini/__init__.py
  test/providers/gemini/test_gemini_integration.py
  test/test_optional_imports.py
  website/docs/contributor-guide/tests.mdx
  website/docs/user-guide/network/pattern_cookbook/pattern_cookbook.mdx
  website/docs/user-guide/tools/code_execution.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: audit dependencies and remove artifacts orphaned by the 1.0 rewrite (#3159)
  .github/workflows/build-mkdocs.yml
  .github/workflows/pr-checks.yml
  .gitignore
  .pre-commit-config.yaml
  OAI_CONFIG_LIST_sample
  _typos.toml
  ag2/_import_utils.py
  announcements.md
  pyproject.toml
  scripts/devcontainer/generate-devcontainers.py
  scripts/devcontainer/generate-devcontainers.sh
  scripts/devcontainer/templates/devcontainer.json.jinja
  scripts/show-coverage-report.sh
  scripts/test-docs.sh
  scripts/test-llm.sh
  scripts/test-skip-llm.sh
  scripts/test.sh
  test/providers/gemini/test_gemini_integration.py
  test/test_optional_imports.py
  uv.lock
  website/.gitignore
  website/README.md
  website/docs/contributor-guide/documentation.mdx
  website/docs/contributor-guide/setup-development-environment.mdx
  website/docs/contributor-guide/tests.mdx
  website/docs/user-guide/network/pattern_cookbook/pattern_cookbook.mdx
  website/docs/user-guide/tools/code_execution.mdx
  website/docusaurus.config.js
  website/mkdocs/_website/notebook_processor.py
  website/mkdocs/_website/process_notebooks.py
  website/mkdocs/docs.py
  website/mkdocs/expand_markdown.py
  website/mkdocs/generate_mkdocs.py
  website/mkdocs/update_releases.py
  website/process_notebooks.py
Due: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

chore(deps): bump uv dependencies
  pyproject.toml
  uv.lock
Due: none

Clarify Arize telemetry options
  website/docs/user-guide/evaluation/runs.mdx
  website/docs/user-guide/telemetry/agent.mdx
Due: none

chore(deps): bump uv dependencies (#3206)
  pyproject.toml
  uv.lock
Due: none

feat(mcp)!: port every MCP surface to mcp 2.0 and raise the bound to >=2.0.0,<3 (#3192)
  ag2/acp/tool_gateway.py
  ag2/mcp/executor.py
  ag2/mcp/mappers.py
  ag2/mcp/prompts.py
  ag2/mcp/resources.py
  ag2/mcp/server.py
  ag2/mcp/testing.py
  ag2/mcp/tools.py
  ag2/mcp_ui/resources.py
  ag2/tools/toolkits/mcp_server/toolkit.py
  pyproject.toml
  test/acp/test_client_e2e.py
  test/acp/test_remote_e2e.py
  test/acp/test_tool_gateway.py
  test/mcp/test_content_mapping.py
  test/mcp/test_context_provider.py
  test/mcp/test_custom_tools.py
  test/mcp/test_e2e_structured.py
  test/mcp/test_e2e_text.py
  test/mcp/test_errors.py
  test/mcp/test_http.py
  test/mcp/test_input_validation.py
  test/mcp/test_progress.py
  test/mcp/test_resources.py
  test/mcp/test_server_info.py
  test/mcp_ui/test_resources.py
  test/tools/test_mcp_live_transport.py
  uv.lock
  website/snippets/mcp/client.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers
