Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet

fix: remove prints
  autogen/llm_config/config.py
  autogen/oai/openai_responses.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: tests and documentation
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: nonetype error in notebook environment
  autogen/tools/apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add sync patches
  autogen/tools/apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: notebook environment patches
  autogen/tools/apply_patch_tool.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  notebook/test.py
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix pre-commits
  autogen/oai/anthropic.py
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: workspace is none
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: none

feat: add sync patch support
  autogen/oai/openai_responses.py
  autogen/tools/apply_patch_tool.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  notebook/test.py
  test/test.py
  test/tools/test_apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

tests: async patches
  autogen/tools/apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: apply update patch sync
  autogen/tools/apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: async patch calls in notebook
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  notebook/project.py
Due: build-setup-scripts, lint, mypy

fix: recipient messages
  autogen/oai/openai_responses.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: add groupchat example for apply_patch
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test: normalize message
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: none

Revert anthropic.py
  autogen/oai/anthropic.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: notebook
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: none

Notebook tweak
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: none

Reset anthropic.py to main
  autogen/oai/anthropic.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: remove debug prints
  autogen/oai/openai_responses.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: pre-commits
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Remove unused project.py
  notebook/project.py
Due: build-setup-scripts, lint, mypy

test: normalization
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

remove duplicated tests
  autogen/tools/apply_patch_tool.py
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: move apply patch tool to tools/experimentals
  autogen/tools/apply_patch_tool.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  test/tools/test_apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs: apply_patch_tool.mdx
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  website/docs/user-guide/advanced-concepts/tools/experimentals/apply_patch_tool.mdx
Due: none

fix: aiofiles for true async
  autogen/tools/experimental/apply_patch/apply_patch_tool.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: delete apply patch.mdx
  website/docs/user-guide/advanced-concepts/tools/experimentals/apply_patch_tool.mdx
Due: none

fix: tests
  autogen/tools/experimental/apply_patch/apply_patch_tool.py
  test/tools/test_apply_patch_tool.py
  website/docs/user-guide/advanced-concepts/tools/basics.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: use run and initiate_chat in notebook
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: none

fix: operation type validation
  autogen/tools/experimental/apply_patch/apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: test
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: readme
  autogen/tools/experimental/apply_patch/README.md
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Remove unnecessary doc
  website/docs/user-guide/advanced-concepts/tools/basics.mdx
Due: none

fix: notebook and ConfigEntry
  autogen/oai/client.py
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
  test/tools/test_apply_patch_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update
  notebook/agentchat_gpt5.1_apply_patch_example.ipynb
Due: none

fix: readme
  autogen/tools/experimental/apply_patch/README.md
Due: none

feat: add shell tool executor
  autogen/oai/client.py
  autogen/tools/shell_tool.py
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: missing commands
  autogen/code_utils.py
  test/test.py
Due: build-setup-scripts, lint, mypy, check-license-headers

documentaion: add shell tool example
  notebook/agentchat_gpt5.1_shell_tool_example.ipynb
Due: none

feat: add shell_tool support in oai responses
  autogen/code_utils.py
  autogen/oai/openai_responses.py
Due: build-setup-scripts, lint, mypy, check-license-headers
