Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

build-setup-scripts:
  name: build setup scripts
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-build-setup-files.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2
  - toml
  - ruff

lint:
  name: linting and formatting
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/pre-commit-lint.sh
  language: python
  require_serial: true
  verbose: true

mypy:
  name: mypy
  stages:
  - pre-commit
  - pre-merge-commit
  entry: ./scripts/pre-commit-mypy-run.sh
  language: python
  additional_dependencies: []
  require_serial: true
  verbose: true

check-license-headers:
  name: check license headers
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: python ./scripts/pre-commit-license-check.py
  language: python

generate-devcontainer-files:
  name: Generate devcontainer files
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  entry: scripts/devcontainer/generate-devcontainers.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2

tests: add tests for watch primitive
  test/beta/framework/test_watch.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add public APIs
  autogen/beta/__init__.py
  autogen/beta/events/__init__.py
  autogen/beta/observers/__init__.py
  test/beta/framework/__init__.py
Due: build-setup-scripts, lint, mypy, check-license-headers

tests: add tests for observer edge cases
  test/beta/framework/test_edge_cases.py
Due: build-setup-scripts, lint, mypy, check-license-headers

tests: test watch primitive
  test/beta/framework/test_advanced_watches.py
Due: build-setup-scripts, lint, mypy, check-license-headers

tests: add tests for transient message
  test/beta/stream/test_transient.py
Due: build-setup-scripts, lint, mypy, check-license-headers

tests: add tests for signal primitive
  test/beta/framework/test_signal.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta): add AG-UI support
  agui.py
  autogen/beta/ag_ui/__init__.py
  autogen/beta/ag_ui/asgi.py
  autogen/beta/ag_ui/stream.py
  autogen/beta/agent.py
  autogen/beta/config/openai/openai_responses_client.py
  autogen/beta/events/input_events.py
  autogen/beta/tools/final/client_tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: remove loguru
  autogen/beta/ag_ui/stream.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: apply pre-commit fixes
  autogen/beta/knowledge.py
  autogen/beta/observer.py
  setup_autogen.py
  test/beta/framework/__init__.py
  test/beta/framework/test_bugfixes.py
  test/beta/stream/test_transient.py
Due: build-setup-scripts, lint, mypy, check-license-headers

tests: cover Disk, Sqlite, and Locked knowledge stores
  test/beta/framework/test_knowledge.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(broken_link): Broken external links in Notebooks pages (reliable_basic_example.ip...
  website/mkdocs/_website/utils.py
Due: build-setup-scripts, lint, mypy

fix(broken_link): Broken external link: GitHub notebook tools_browser_use_deepseek.ip...
  website/snippets/components/GalleryPage.mdx
Due: none

fix(broken_link): Double slash in notebook GitHub links
  website/mkdocs/_website/utils.py
Due: build-setup-scripts, lint, mypy

fix(code_validation): NameError: ConversableAgent not imported
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

fix(code_validation): Code validation: LLMConfig() incorrect positional argument
  website/docs/quick-start.mdx
Due: none

fix(broken_link): Broken GitHub notebook links with double slash in path
  website/mkdocs/_website/utils.py
Due: build-setup-scripts, lint, mypy

fix(console_errors): Missing image file ecosystem-composio.png
  website/docs/ecosystem/composio.mdx
  website/docs/ecosystem/img/ecosystem-composio.png
Due: none

fix(broken_link): Broken external link: google.github.io/A2A/ (404)
  website/docs/_blogs/2026-02-08-AG2-OpenTelemetry-Tracing/index.mdx
Due: none

fix(broken_link): Broken external link: stackoverflow.com/help/mcve (404)
  website/docs/contributor-guide/file-bug-report.mdx
Due: none

fix(broken_link): Broken external link: huggingface.co/datasets/openai_humaneval (404)
  website/docs/_blogs/2023-05-18-GPT-adaptive-humaneval/index.mdx
Due: none

fix(broken_link): Broken external link: Bloomberg AI agents newsletter (404)
  website/docs/_blogs/2024-07-25-AgentOps/index.mdx
Due: none

fix(broken_link): Broken Bloomberg newsletter link on 4 pages
  website/docs/_blogs/2024-07-25-AgentOps/index.mdx
Due: none

fix(broken_link): Broken GitHub link: simple_workflow.py returns 404
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/index.mdx
Due: none

fix(broken_link): Broken localhost link in WebSockets blog post
  website/docs/_blogs/2025-01-10-WebSockets/index.mdx
Due: none

fix(broken_link): Broken LinkedIn profile link for Stella Xiang returns 999
  website/blogs_and_user_stories_authors.yml
Due: none

fix(broken_link): Broken GitHub notebook link agenteval_cq_math.ipynb returns 404
  website/docs/_blogs/2023-11-20-AgentEval/index.mdx
Due: none

fix(broken_link): Broken link to agenteval_cq_math.ipynb
  website/docs/_blogs/2023-11-20-AgentEval/index.mdx
Due: none

fix(broken_link): Broken link to docs.together.ai/docs/examples
  website/docs/_blogs/2024-06-24-AltModels-Classes/index.mdx
Due: none

fix(broken_link): Broken link to autobuild_basic.ipynb
  website/docs/_blogs/2023-11-26-Agent-AutoBuild/index.mdx
Due: none

fix(broken_link): Broken internal link on Realtime API category page
  website/docs/_blogs/2025-01-08-RealtimeAgent-over-websocket/index.mdx
Due: none

fix(broken_link): Broken internal link on AG2 logging events blog page
  website/docs/_blogs/2025-12-23-Ag2-logging-events/index.mdx
Due: none

fix(broken_link): Broken internal link on GPT-Researcher blog page
  website/docs/_blogs/2026-03-03-GPT-Researcher-AG2/index.mdx
Due: none

fix(broken_link): Broken internal link on Gemini Thinking Config blog page
  website/docs/_blogs/2025-12-29-AG2-Gemini-Thinking-Config-Support/index.mdx
Due: none

fix(broken_link): Broken link in FalkorDB-Structured blog post
  website/docs/_blogs/2024-12-06-FalkorDB-Structured/index.mdx
Due: none

Avoid use of stale GroupChatManager's next target
  autogen/agentchat/group/group_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

add code execution tool
  autogen/beta/agent.py
  autogen/beta/config/openai/openai_responses_client.py
  autogen/beta/tools/builtin/code_execution.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Remove duplicate CODE_EXECUTION_TOOL_NAME definition
  autogen/beta/tools/builtin/code_execution.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Project checked with linters
  README.md
  autogen/agentchat/contrib/captainagent/tools/README.md
  autogen/beta/config/openai/openai_responses_client.py
  autogen/llm_clients/MIGRATION_TO_V2.md
  autogen/tools/experimental/shell/README.md
  cli/src/ag2_cli/content/skills/agents/ag2-migrator.md
  cli/src/ag2_cli/content/skills/rules/agent-patterns.md
  cli/src/ag2_cli/content/skills/rules/code-execution.md
  cli/src/ag2_cli/content/skills/rules/group-chat.md
  cli/src/ag2_cli/content/skills/rules/hooks-and-replies.md
  cli/src/ag2_cli/content/skills/rules/imports.md
  cli/src/ag2_cli/content/skills/rules/llm-config.md
  cli/src/ag2_cli/content/skills/rules/sequential-chats.md
  cli/src/ag2_cli/content/skills/rules/tool-registration.md
  cli/src/ag2_cli/content/skills/skills/add-code-execution.md
  cli/src/ag2_cli/content/skills/skills/add-guardrails.md
  cli/src/ag2_cli/content/skills/skills/add-mcp-integration.md
  cli/src/ag2_cli/content/skills/skills/add-tool.md
  cli/src/ag2_cli/content/skills/skills/build-group-chat.md
  cli/src/ag2_cli/content/skills/skills/build-rag-agent.md
  cli/src/ag2_cli/content/skills/skills/build-reasoning-agent.md
  cli/src/ag2_cli/content/skills/skills/build-research-agent.md
  cli/src/ag2_cli/content/skills/skills/create-agent-team.md
  test/beta/AGENTS.md
Due: build-setup-scripts, lint, mypy, check-license-headers

Revert "Project checked with linters"
  README.md
  autogen/agentchat/contrib/captainagent/tools/README.md
  autogen/beta/config/openai/openai_responses_client.py
  autogen/llm_clients/MIGRATION_TO_V2.md
  autogen/tools/experimental/shell/README.md
  cli/src/ag2_cli/content/skills/agents/ag2-migrator.md
  cli/src/ag2_cli/content/skills/rules/agent-patterns.md
  cli/src/ag2_cli/content/skills/rules/code-execution.md
  cli/src/ag2_cli/content/skills/rules/group-chat.md
  cli/src/ag2_cli/content/skills/rules/hooks-and-replies.md
  cli/src/ag2_cli/content/skills/rules/imports.md
  cli/src/ag2_cli/content/skills/rules/llm-config.md
  cli/src/ag2_cli/content/skills/rules/sequential-chats.md
  cli/src/ag2_cli/content/skills/rules/tool-registration.md
  cli/src/ag2_cli/content/skills/skills/add-code-execution.md
  cli/src/ag2_cli/content/skills/skills/add-guardrails.md
  cli/src/ag2_cli/content/skills/skills/add-mcp-integration.md
  cli/src/ag2_cli/content/skills/skills/add-tool.md
  cli/src/ag2_cli/content/skills/skills/build-group-chat.md
  cli/src/ag2_cli/content/skills/skills/build-rag-agent.md
  cli/src/ag2_cli/content/skills/skills/build-reasoning-agent.md
  cli/src/ag2_cli/content/skills/skills/build-research-agent.md
  cli/src/ag2_cli/content/skills/skills/create-agent-team.md
  test/beta/AGENTS.md
Due: build-setup-scripts, lint, mypy, check-license-headers

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet
