Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet

fix: correct Gemini documentation examples
  website/docs/user-guide/models/google-gemini.mdx
Due: none

fix: correct Gemini client bugs and documentation
  autogen/oai/gemini.py
  notebook/agentchat_gemini_thinking_config_example.ipynb
  website/docs/user-guide/models/google-gemini.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: disable JS minification to restore docs search bar
  website/mkdocs/mkdocs.yml
Due: none

feat: add message_filter to GroupChat for selective message delivery
  autogen/agentchat/groupchat.py
  test/agentchat/test_groupchat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: preserve parameters_json_schema through tool registration and recreation
  autogen/agentchat/contrib/swarm_agent.py
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/group/group_tool_executor.py
  autogen/tools/tool.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add use_response_state opt-in for Responses API stateful mode
  autogen/oai/client.py
  autogen/oai/openai_responses.py
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add anybrowse_web_fetch tool to CaptainAgent
  autogen/agentchat/contrib/captainagent/tools/information_retrieval/anybrowse_web_fetch.py
  autogen/agentchat/contrib/captainagent/tools/tool_description.tsv
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta/mcp): context_provider hook + authorization-server facade
  autogen/beta/mcp/__init__.py
  autogen/beta/mcp/authserver.py
  autogen/beta/mcp/executor.py
  autogen/beta/mcp/security.py
  autogen/beta/mcp/server.py
  test/beta/mcp/test_authorization_server.py
  test/beta/mcp/test_context_provider.py
  test/beta/mcp/test_security.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(beta/mcp): skip tests without the mcp extra; authserver typing
  autogen/beta/mcp/authserver.py
  test/beta/mcp/__init__.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test(beta/mcp): run mcp tests under coverage + raise patch coverage
  pyproject.toml
  test/beta/mcp/test_authorization_server.py
  test/beta/mcp/test_content_mapping.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test(beta/mcp): raise patch coverage to 100%
  autogen/beta/mcp/__init__.py
  autogen/beta/mcp/authserver.py
  autogen/beta/mcp/server.py
  test/beta/mcp/test_authorization_server.py
  test/beta/mcp/test_content_mapping.py
  test/beta/mcp/test_context_provider.py
  test/beta/mcp/test_progress.py
  test/beta/mcp/test_server_info.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(beta/mcp): keep new lines within ruff's 120-col format
  autogen/beta/mcp/authserver.py
  autogen/beta/mcp/server.py
  test/beta/mcp/test_context_provider.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Note AS-facade OIDC cache has no TTL; add slots to AskContext
  autogen/beta/mcp/authserver.py
  autogen/beta/mcp/executor.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta): add usage reporting and token aggregation
  autogen/beta/__init__.py
  autogen/beta/agent.py
  autogen/beta/events/types.py
  autogen/beta/usage.py
  test/beta/agent/test_usage.py
  test/beta/test_usage.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add TWZRD Agent Intel MCP notebook — Solana x402 agent trust scoring
  notebook/agentchat_mcp_twzrd_trust.ipynb
Due: none

feat(live): implement realtime usage tracking for Gemini and OpenAI
  autogen/beta/live/gemini.py
  autogen/beta/live/openai.py
  autogen/beta/live/realtime.py
  autogen/beta/tools/subagents/run_task.py
  test/beta/live/test_gemini_realtime_usage.py
  test/beta/live/test_openai_realtime_usage.py
  test/beta/live/test_realtime_usage.py
  test/beta/tools/test_task.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test(beta): update usage and realtime provider tests
  test/beta/live/test_gemini_realtime_usage.py
  test/beta/live/test_openai_realtime_usage.py
  test/beta/test_usage.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(beta): simplify docstring in run_task usage helper
  autogen/beta/agent.py
  autogen/beta/tools/subagents/run_task.py
Due: build-setup-scripts, lint, mypy, check-license-headers

ci: bump codecov-action to v7.0.0 (fixes bricked-keybase GPG key import failure)
  .github/workflows/beta-llm-test.yml
  .github/workflows/beta-test.yml
  .github/workflows/contrib-graph-rag-tests.yml
  .github/workflows/contrib-llm-test.yml
  .github/workflows/contrib-test.yml
  .github/workflows/core-llm-test.yml
  .github/workflows/core-test.yml
  .github/workflows/integration-test.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test-with-optional-deps.yml
Due: none

feat(beta/skills): add SkillPlugin and reorganize skill tests
  .gitignore
  autogen/beta/tools/skills/__init__.py
  autogen/beta/tools/skills/local_skills/plugin.py
  autogen/beta/tools/skills/local_skills/toolkit.py
  autogen/beta/tools/skills/skill_search/toolkit.py
  test/beta/tools/skills/__init__.py
  test/beta/tools/skills/conftest.py
  test/beta/tools/skills/test_loader.py
  test/beta/tools/skills/test_plugin.py
  test/beta/tools/skills/test_skill_search.py
  test/beta/tools/skills/test_toolkit.py
  test/beta/tools/test_local_skills.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta/skills): spec-align local skills, add read_skill_resource, XML catalog
  autogen/beta/tools/skills/local_skills/loader.py
  autogen/beta/tools/skills/local_skills/plugin.py
  autogen/beta/tools/skills/local_skills/toolkit.py
  autogen/beta/tools/skills/runtime/local.py
  test/beta/tools/skills/test_loader.py
  test/beta/tools/skills/test_plugin.py
  test/beta/tools/skills/test_skill_search.py
  test/beta/tools/skills/test_toolkit.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: refactor SkillPlugin public imports
  autogen/beta/tools/skills/__init__.py
  autogen/beta/tools/skills/local_skills/__init__.py
  autogen/beta/tools/skills/local_skills/plugin.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(test): resolve ruff N817 and F841 in background/bedrock tests
  test/beta/tools/test_background.py
  test/llm_clients/test_bedrock_v2.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(beta/skills): document SkillPlugin as the recommended entry point
  autogen/beta/tools/__init__.py
  website/docs/beta/tools/common_toolkits.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(mcp): implement full MCP server capabilities and session management
  autogen/beta/mcp/__init__.py
  autogen/beta/mcp/_async.py
  autogen/beta/mcp/authserver.py
  autogen/beta/mcp/errors.py
  autogen/beta/mcp/executor.py
  autogen/beta/mcp/info.py
  autogen/beta/mcp/prompts.py
  autogen/beta/mcp/resources.py
  autogen/beta/mcp/security.py
  autogen/beta/mcp/server.py
  autogen/beta/mcp/sessions.py
  autogen/beta/mcp/testing.py
  autogen/beta/tools/__init__.py
  autogen/beta/tools/toolkits/__init__.py
  autogen/beta/tools/toolkits/mcp_server/__init__.py
  autogen/beta/tools/toolkits/mcp_server/toolkit.py
  examples/mcp/README.md
  examples/mcp/client_demo.py
  examples/mcp/client_http.py
  examples/mcp/client_http_auth.py
  examples/mcp/client_interactive.py
  examples/mcp/server_embedded.py
  examples/mcp/server_http.py
  examples/mcp/server_http_auth.py
  examples/mcp/server_resources.py
  examples/mcp/server_stdio.py
  test/beta/mcp/test_authorization_server.py
  test/beta/mcp/test_http.py
  test/beta/mcp/test_mount.py
  test/beta/mcp/test_prompts.py
  test/beta/mcp/test_resources.py
  test/beta/mcp/test_security.py
  test/beta/mcp/test_server_info.py
  test/beta/mcp/test_sessions.py
  test/beta/tools/test_mcp.py
  website/docs/beta/tools/mcp_servers.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta): implement decoupled usage tracking via UsageEvent
  autogen/beta/__init__.py
  autogen/beta/agent.py
  autogen/beta/aggregate.py
  autogen/beta/compact.py
  autogen/beta/events/__init__.py
  autogen/beta/events/types.py
  autogen/beta/live/gemini.py
  autogen/beta/live/openai.py
  autogen/beta/tools/subagents/run_task.py
  autogen/beta/usage.py
  test/beta/live/test_realtime_usage.py
  test/beta/test_usage.py
  test/beta/tools/test_task.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(beta): AI coding agent documentation support
  .github/workflows/build-mkdocs.yml
  website/docs/beta/coding_with_ai.mdx
  website/mint-json-template.json.jinja
  website/mkdocs/.gitignore
  website/mkdocs/_website/generate_mkdocs.py
  website/mkdocs/_website/llms_txt.py
Due: build-setup-scripts, lint, mypy

feat: thinking tokens support
  autogen/beta/middleware/builtin/metrics.py
  openspec/changes/archive/2026-05-13-prometheus-metrics/design.md
  openspec/changes/archive/2026-05-13-prometheus-metrics/proposal.md
  openspec/changes/archive/2026-05-13-prometheus-metrics/specs/llm-metrics/spec.md
  openspec/changes/archive/2026-05-13-prometheus-metrics/tasks.md
  test/beta/middleware/builtins/metrics/test_metrics.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta): Amazon Bedrock client
  autogen/beta/config/__init__.py
  autogen/beta/config/bedrock/__init__.py
  autogen/beta/config/bedrock/bedrock_client.py
  autogen/beta/config/bedrock/config.py
  autogen/beta/config/bedrock/mappers.py
  test/beta/config/bedrock/__init__.py
  test/beta/config/bedrock/_helpers.py
  test/beta/config/bedrock/test_bedrock_client.py
  test/beta/config/bedrock/test_bedrock_config.py
  test/beta/config/bedrock/test_convert_messages.py
  test/beta/config/bedrock/test_response_schema.py
  test/beta/config/bedrock/test_usage.py
  test/beta/config/bedrock/tools/__init__.py
  test/beta/config/bedrock/tools/test_tool_to_api.py
  test/beta/config/bedrock/tools/test_unsupported.py
  website/docs/beta/inputs/inputs.mdx
  website/docs/beta/model_configuration.mdx
  website/docs/beta/structured_output.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Add bedrock to Beta optionals in pyproject.toml
  pyproject.toml
Due: none

docs(beta): Tweak cookbook examples for reliability
  website/docs/beta/network/pattern_cookbook/context_aware_routing.mdx
  website/docs/beta/network/pattern_cookbook/star.mdx
Due: none

Skip config tests when boto3 is not installed
  test/beta/config/bedrock/__init__.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(tests): Background agent test reliability
  test/beta/tools/test_background.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Address fragile sleeps in beta network tests
  test/beta/network/test_observability.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs: add TealTiger governance integration example
  website/docs/ecosystem/tealtiger.mdx
Due: none

Enhance TealTiger documentation with governance details
  website/docs/ecosystem/tealtiger.mdx
Due: none

Update TealTiger image link in documentation
  website/docs/ecosystem/tealtiger.mdx
Due: none

refactor(beta): AgentReply.usage — property to async method via context history
  autogen/beta/agent.py
  autogen/beta/tools/subagents/run_task.py
  test/beta/agent/test_usage.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(blog): The Agent Harness — An Agent Is More Than a Loop
  website/docs/_blogs/2026-05-17-AG2-Agent-Harness/index.mdx
Due: none

docs(blog): Spending the Context Budget — a safe document agent on the AG2 harness
  website/docs/_blogs/2026-06-12-AG2-Agent-Harness-Steward/index.mdx
Due: none
