Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet

feat: introduce human client as first class in network
  autogen/beta/network/client/hub_client.py
  autogen/beta/network/client/human.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: handle tasks in clients
  autogen/beta/network/client/__init__.py
  autogen/beta/network/client/actor_client.py
  autogen/beta/network/client/handlers.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: remove deps on network from scheduler
  autogen/beta/scheduler.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add disk on change handler
  autogen/beta/knowledge.py
Due: build-setup-scripts, lint, mypy, check-license-headers

tests: test framework core function
  test/beta/framework/__init__.py
  test/beta/framework/test_actor_integration.py
  test/beta/framework/test_advanced_watches.py
  test/beta/framework/test_aggregate.py
  test/beta/framework/test_assembly.py
  test/beta/framework/test_bugfixes.py
  test/beta/framework/test_compact.py
  test/beta/framework/test_edge_cases.py
  test/beta/framework/test_knowledge.py
  test/beta/framework/test_observer.py
  test/beta/framework/test_observers.py
  test/beta/framework/test_scheduler.py
  test/beta/framework/test_scheduler_watch_coverage.py
  test/beta/framework/test_signal.py
  test/beta/framework/test_watch.py
Due: build-setup-scripts, lint, mypy, check-license-headers

remove: remove previous design implementations
  autogen/beta/network/channels/__init__.py
  autogen/beta/network/channels/desktop.py
  autogen/beta/network/channels/http.py
  autogen/beta/network/convenience.py
  autogen/beta/network/desktop_proxy.py
  autogen/beta/network/hub.py
  autogen/beta/network/observers/__init__.py
  autogen/beta/network/plugins/__init__.py
  autogen/beta/network/plugins/rate_limiter.py
  autogen/beta/network/plugins/telemetry.py
  autogen/beta/network/plugins/topic.py
  autogen/beta/network/primitives/__init__.py
  autogen/beta/network/primitives/channel.py
  autogen/beta/network/primitives/envelope.py
  autogen/beta/network/primitives/infra.py
  autogen/beta/network/primitives/priority.py
  autogen/beta/network/remote.py
  autogen/beta/network/topology.py
Due: build-setup-scripts, lint, mypy, check-license-headers

deps: add watchdog
  pyproject.toml
Due: none

feat: expose public apis
  autogen/beta/__init__.py
  autogen/beta/network/__init__.py
Due: build-setup-scripts, lint, mypy, check-license-headers

chore: cleanup playground examples
  playground/01_customer_support/DEMO.md
  playground/01_customer_support/main.py
  playground/02_sre_bot/DEMO.md
  playground/02_sre_bot/main.py
  playground/03_newsroom/DEMO.md
  playground/03_newsroom/main.py
  playground/04_emergency/DEMO.md
  playground/04_emergency/_shared.py
  playground/04_emergency/call.py
  playground/04_emergency/dispatch_server.py
  playground/04_emergency/fire_server.py
  playground/04_emergency/medical_server.py
  playground/04_emergency/police_server.py
  playground/05_smart_building/DEMO.md
  playground/05_smart_building/_shared.py
  playground/05_smart_building/climate_server.py
  playground/05_smart_building/controller.py
  playground/05_smart_building/main.py
  playground/05_smart_building/operations_server.py
  playground/06_trading_desk/DEMO.md
  playground/06_trading_desk/main.py
  playground/07_loan_pipeline/DEMO.md
  playground/07_loan_pipeline/main.py
  playground/08_safety_harness/DEMO.md
  playground/08_safety_harness/main.py
  playground/09_gtm_sales/DEMO.md
  playground/09_gtm_sales/main.py
  playground/10_hiring_pipeline/main.py
  playground/11_voice_of_customer/DEMO.md
  playground/11_voice_of_customer/main.py
  playground/12_simulation/DEMO.md
  playground/12_simulation/main.py
  playground/13_priority_triage/DEMO.md
  playground/13_priority_triage/main.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(broken_link): Broken link: reliable_basic_example.ipynb
  website/snippets/components/GalleryPage.mdx
Due: none

fix(broken_link): Broken link: async_human_input.ipynb
  website/snippets/components/GalleryPage.mdx
Due: none

fix(broken_link): Broken link: oai_chatgpt_gpt4.ipynb
  website/snippets/components/GalleryPage.mdx
Due: none

fix(broken_link): Broken link: lats_search.ipynb
  website/snippets/components/GalleryPage.mdx
Due: none

fix(broken_link): Broken link: tools_duckduckgo_search.ipynb
  website/snippets/components/GalleryPage.mdx
Due: none

fix(code_validation): NameError: ConversableAgent not defined in code block
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

fix(broken_link): Broken external link: double-slash in GitHub notebook URL
  website/snippets/components/GalleryPage.mdx
Due: none

fix(broken_link): Broken external links with double slash in GitHub notebook URLs
  website/snippets/components/GalleryPage.mdx
Due: none

fix(code_validation): TypeError in LLMConfig — config_list expects list not dict
  website/docs/user-guide/advanced-concepts/code-execution.mdx
  website/docs/user-guide/advanced-concepts/orchestration/two-agent-chat.mdx
  website/docs/user-guide/advanced-concepts/pattern-cookbook/escalation.mdx
  website/docs/user-guide/advanced-concepts/tools/mcp/mcp_client_session_manager.mdx
Due: none

fix(code_validation): NameError — undefined variable 'questions' in code block
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

lint: fix mypy
  autogen/fast_depends/core/build.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(code_validation): ModuleNotFoundError: opentelemetry.exporter.otlp.proto.grpc not ins...
  pyproject.toml
Due: none

fix(broken_link): Broken external link: google.github.io/A2A/ returns 404
  website/docs/_blogs/2026-02-08-AG2-OpenTelemetry-Tracing/index.mdx
  website/docs/user-guide/reference-agents/a2uiagent.mdx
  website/docs/user-guide/tracing/remote-agents.mdx
Due: none

fix(broken_link): Broken links with double slash in GitHub URLs
  website/mkdocs/_website/utils.py
Due: build-setup-scripts, lint, mypy

fix(broken_link): Broken GitHub notebook links on 0.9.6 docs
  website/mkdocs/_website/utils.py
Due: build-setup-scripts, lint, mypy

fix(broken_link): Broken GitHub notebook links on 0.9.7 docs
  website/mkdocs/_website/utils.py
Due: build-setup-scripts, lint, mypy

fix(broken_link): Broken external link: GitHub notebook reliable_basic_example.ipynb
  website/snippets/components/GalleryPage.mdx
Due: none

fix(broken_link): Broken external links in Notebooks pages (double slash in path)
  website/mkdocs/_website/utils.py
Due: build-setup-scripts, lint, mypy

fix(broken_link): Broken external link to tools_browser_use_deepseek.ipynb
  website/mkdocs/_website/process_notebooks.py
  website/snippets/components/GalleryPage.mdx
Due: build-setup-scripts, lint, mypy

fix(code_validation): NameError ConversableAgent not defined in code blocks
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

fix(broken_link): Broken links with double slashes and typo in notebook URLs
  website/mkdocs/_website/process_notebooks.py
  website/snippets/components/GalleryPage.mdx
Due: build-setup-scripts, lint, mypy

refactor(beta): reorganize skills toolkit under toolkits/skills/
  AGENTS.md
  autogen/beta/config/anthropic/mappers.py
  autogen/beta/observer.py
  autogen/beta/streams/redis/__init__.py
  autogen/beta/tools/__init__.py
  autogen/beta/tools/schemas.py
  autogen/beta/tools/toolkits/filesystem.py
  autogen/beta/tools/toolkits/skills/__init__.py
  autogen/beta/tools/toolkits/skills/local_skills/__init__.py
  autogen/beta/tools/toolkits/skills/local_skills/loader.py
  autogen/beta/tools/toolkits/skills/local_skills/toolkit.py
  autogen/beta/tools/toolkits/skills/runtime/__init__.py
  autogen/beta/tools/toolkits/skills/runtime/local.py
  autogen/beta/tools/toolkits/skills/runtime/protocol.py
  autogen/beta/tools/toolkits/skills/skill_search/__init__.py
  autogen/beta/tools/toolkits/skills/skill_search/client.py
  autogen/beta/tools/toolkits/skills/skill_search/config.py
  autogen/beta/tools/toolkits/skills/skill_search/extractor.py
  autogen/beta/tools/toolkits/skills/skill_search/lock.py
  autogen/beta/tools/toolkits/skills/skill_search/toolkit.py
  autogen/beta/tools/toolkits/skills/skill_search/toolset.py
  autogen/beta/tools/toolkits/skills/skill_types.py
  test/beta/config/anthropic/tools/test_mcp_server.py
  test/beta/config/anthropic/tools/test_skills.py
  test/beta/config/gemini/tools/test_local_skills.py
  test/beta/tools/test_filesystem.py
  test/beta/tools/test_local_skills.py
  test/beta/tools/test_skill_search.py
Due: build-setup-scripts, lint, mypy, check-license-headers

docs(beta): document SkillsToolkit and SkillSearchToolkit in common toolkits page
  autogen/beta/tools/toolkits/skills/local_skills/toolkit.py
  website/docs/beta/tools/common_toolkits.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

fix failing
  autogen/beta/config/anthropic/mappers.py
  autogen/beta/tools/toolkits/skills/skill_search/toolkit.py
  test/beta/config/anthropic/tools/test_mcp_server.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: phase 5 of network
  autogen/beta/__init__.py
  autogen/beta/knowledge.py
  autogen/beta/network/__init__.py
  autogen/beta/network/client/actor_client.py
  autogen/beta/network/client/hub_client.py
  autogen/beta/network/client/transforms/__init__.py
  autogen/beta/network/client/transforms/adapters.py
  autogen/beta/network/client/transforms/pipeline.py
  autogen/beta/network/client/transforms/protocol.py
  autogen/beta/network/client/transforms/registry.py
  autogen/beta/network/client/transforms/stdlib.py
  autogen/beta/network/client/transforms/when.py
  autogen/beta/network/http/server.py
  autogen/beta/network/hub/core.py
  autogen/beta/network/hub/layout.py
  autogen/beta/network/rule.py
  autogen/beta/network/session_types.py
  design/network_v3_redesign.md
  pyproject.toml
  test/beta/network/test_archival_sweeper.py
  test/beta/network/test_audit_log.py
  test/beta/network/test_cache_invalidation.py
  test/beta/network/test_http_admin.py
  test/beta/network/test_hub_metrics.py
  test/beta/network/test_inbox_drop_policies.py
  test/beta/network/test_knowledge_store_extensions.py
  test/beta/network/test_redis_knowledge_store.py
  test/beta/network/test_rule.py
  test/beta/network/test_sqlite_knowledge_store.py
  test/beta/network/test_transforms_integration.py
  test/beta/network/test_transforms_unit.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add extra_body parameter support to Beta OpenAI client
  autogen/beta/config/openai/config.py
  autogen/beta/config/openai/openai_client.py
  test/beta/config/openai/test_openai_config.py
  website/docs/beta/model_configuration.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

feat(beta): add BudgetMiddleware for per-agent cost tracking
  autogen/beta/middleware/builtin/__init__.py
  autogen/beta/middleware/builtin/budget.py
  test/beta/middleware/builtins/test_budget_middleware.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(beta): correct BudgetMiddleware scope and Usage type handling
  autogen/beta/middleware/builtin/budget.py
  test/beta/middleware/builtins/test_budget_middleware.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix(beta): fix concurrent ask() race and export BudgetMiddleware at top level
  autogen/beta/middleware/__init__.py
  autogen/beta/middleware/builtin/budget.py
  test/beta/middleware/builtins/test_budget_middleware.py
Due: build-setup-scripts, lint, mypy, check-license-headers
