Repository ag2ai/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet

fix: remove skip integration
  test/oai/test_bedrock.py
Due: build-setup-scripts, lint, mypy, check-license-headers

HITL and Code Execution tracing (and sync initial chat)
  autogen/a2a/server.py
  autogen/instrumentation.py
  tracing/OTEL_GENAI_CONVENTION_AG2.md
  tracing/TRACING.md
  tracing/agents/local_code_execution.py
  tracing/agents/local_hitl.py
Due: build-setup-scripts, lint, mypy, check-license-headers

run_chat trace and more dev examples
  autogen/instrumentation.py
  tracing/TRACING.md
  tracing/agents/local_a_run_group_chat.py
  tracing/agents/local_initiate_chat.py
  tracing/agents/local_run.py
  tracing/agents/local_run_group_chat.py
Due: build-setup-scripts, lint, mypy, check-license-headers

test: add integration test
  test/oai/test_bedrock.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add initiate_chats tracing
  autogen/instrumentation.py
  autogen/tracing/utils.py
  tracing/OTEL_GENAI_CONVENTION_AG2.md
  tracing/TRACING.md
  tracing/agents/local_initiate_chats.py
Due: build-setup-scripts, lint, mypy, check-license-headers

A2A Server ignore
  autogen/a2a/server.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Code tidy for Anthropic and Google Gemini
  autogen/oai/anthropic.py
  test/oai/test_anthropic.py
  test/oai/test_gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add telemetry packages to docs group
  pyproject.toml
Due: none

Fix test bug
  test/agentchat/test_multimodal_integration.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Map AG2 Chat ID to conversation id, add otel collector and example export to ClickHouse
  autogen/instrumentation.py
  tracing/OTEL_GENAI_CONVENTION_AG2.md
  tracing/docker-compose.yaml
  tracing/otel-collector-config.yaml
Due: build-setup-scripts, lint, mypy, check-license-headers

Update temp docs for ClickHouse
  tracing/TRACING.md
Due: none

Add LLM model provider
  autogen/instrumentation.py
  autogen/tracing/utils.py
  tracing/OTEL_GENAI_CONVENTION_AG2.md
Due: build-setup-scripts, lint, mypy, check-license-headers

LLM tracing
  autogen/instrumentation.py
  autogen/tracing/utils.py
  tracing/OTEL_GENAI_CONVENTION_AG2.md
  tracing/TRACING.md
  tracing/agents/group_chat.py
  tracing/agents/local_a_run_group_chat.py
  tracing/agents/local_agents_ollama.py
  tracing/agents/local_code_execution.py
  tracing/agents/local_hitl.py
  tracing/agents/local_initiate_chat.py
  tracing/agents/local_initiate_chats.py
  tracing/agents/local_run.py
  tracing/agents/local_run_group_chat.py
  tracing/agents/local_tools.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: add devcontainer.json for python 3.14
  .devcontainer/python-3.14/devcontainer.json
  scripts/devcontainer/generate-devcontainers.py
Due: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

test: inteoperate_llm_config
  autogen/llm_config/config.py
  test/agentchat/test_conversable_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: docs content
  website/docs/_blogs/2025-12-22-GPT-5.1-Apply-Patch-Tool/index.mdx
Due: none

documentation: notebook example
  autogen/__init__.py
  notebook/agnetchat_agentconfig_example.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: make agentconfig groupchat compatible
  autogen/agentchat/conversable_agent.py
  autogen/oai/client.py
  notebook/agnetchat_agentconfig_example.ipynb
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: notebook content
  notebook/agnetchat_agentconfig_example.ipynb
Due: none

test: agentconfig integration OAI
  test/agentchat/test_conversable_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor: new OTEL module structure
  autogen/opentelemetry/__init__.py
  autogen/opentelemetry/consts.py
  autogen/opentelemetry/instrumentators/__init__.py
  autogen/opentelemetry/instrumentators/a2a.py
  autogen/opentelemetry/instrumentators/agent.py
  autogen/opentelemetry/instrumentators/chats.py
  autogen/opentelemetry/instrumentators/llm_wrapper.py
  autogen/opentelemetry/instrumentators/pattern.py
  autogen/opentelemetry/setup.py
  autogen/opentelemetry/utils.py
  tracing/agents/a2a/__init__.py
  tracing/agents/a2a/group_chat.py
  tracing/agents/a2a/remote_agent.py
  tracing/agents/group_chat.py
  tracing/agents/local_a_run_group_chat.py
  tracing/agents/local_agents.py
  tracing/agents/local_agents_ollama.py
  tracing/agents/local_code_execution.py
  tracing/agents/local_hitl.py
  tracing/agents/local_initiate_chat.py
  tracing/agents/local_initiate_chats.py
  tracing/agents/local_run.py
  tracing/agents/local_run_group_chat.py
  tracing/agents/local_tools.py
Due: build-setup-scripts, lint, mypy, check-license-headers

editable system messages, logging improvements, GroupChat tests
  autogen/coding/__init__.py
  autogen/coding/remyx_code_executor.py
  autogen/coding/utils.py
  test/coding/test_remyx_executor.py
  test/coding/test_remyx_executor_integration.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix formatting
  autogen/coding/remyx_code_executor.py
  autogen/coding/utils.py
  test/coding/test_remyx_executor_integration.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor: remove Remote services
  .github/CODEOWNERS
  autogen/a2a/__init__.py
  autogen/a2a/agent_executor.py
  autogen/a2a/client.py
  autogen/a2a/errors.py
  autogen/a2a/httpx_client_factory.py
  autogen/a2a/remote/__init__.py
  autogen/a2a/remote/agent_service.py
  autogen/a2a/remote/errors.py
  autogen/a2a/remote/httpx_client_factory.py
  autogen/a2a/remote/protocol.py
  autogen/a2a/remote/retry.py
  autogen/a2a/utils.py
  autogen/remote/__init__.py
  autogen/remote/agent.py
  autogen/remote/runtime.py
  pyproject.toml
  test/a2a/test_parsing.py
  test/remote/__init__.py
  test/remote/chats/__init__.py
  test/remote/chats/test_chat.py
  test/remote/chats/test_group_chat.py
  test/remote/chats/test_sequential_chat.py
  test/remote/test_client.py
  test/remote/test_executor.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor: streaming service support
  autogen/a2a/agent_executor.py
  autogen/a2a/remote/__init__.py
  autogen/a2a/remote/agent_service.py
  autogen/a2a/remote/protocol.py
  autogen/a2a/utils.py
  test/a2a/test_executor.py
  test/a2a/test_parsing.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor: AgentService streaming execution
  autogen/a2a/remote/agent_service.py
Due: build-setup-scripts, lint, mypy, check-license-headers

refactor: polish AgentService impl
  autogen/a2a/remote/agent_service.py
Due: build-setup-scripts, lint, mypy, check-license-headers

blogpost: on bedrock strcutured output
  website/docs/_blogs/2026-01-05-bedrock-structured-output/index.mdx
Due: none

fix: acorn errors
  website/docs/_blogs/2026-01-05-bedrock-structured-output/index.mdx
Due: none

fix: pre-commit
  website/docs/_blogs/2026-01-05-bedrock-structured-output/index.mdx
Due: none

add: init to conversable agent
  autogen/agentchat/conversable_agent/__init__.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: mypy errors
  autogen/agentchat/conversableAgent/__init__.py
  autogen/agentchat/conversableAgent/base.py
  autogen/agentchat/conversableAgent/chat_management.py
  autogen/agentchat/conversableAgent/code_execution.py
  autogen/agentchat/conversableAgent/conversable_agent.py
  autogen/agentchat/conversableAgent/conversable_utils.py
  autogen/agentchat/conversableAgent/function_execution.py
  autogen/agentchat/conversableAgent/hooks_and_registry.py
  autogen/agentchat/conversableAgent/llm_integration.py
  autogen/agentchat/conversableAgent/massaging.py
  autogen/agentchat/conversableAgent/reply_handlers.py
  autogen/agentchat/conversableAgent/types.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Notebook tweaks
  notebook/agentchat_bedrock_addtional_model_request_field_example.ipynb
Due: none

Notebook lint updates
  notebook/agentchat_bedrock_addtional_model_request_field_example.ipynb
Due: none

Notebook tidy and lint updates
  notebook/agentchat_bedrock_client_exponential_backoff_and_retry_config.ipynb
  test/oai/test_bedrock.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: naming conventions
  autogen/oai/bedrock.py
  notebook/agentchat_bedrock_addtional_model_request_field_example.ipynb
  test/oai/test_bedrock.py
  website/docs/user-guide/models/amazon-bedrock.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

sync: base.py with monolith conversableagent
  autogen/agentchat/conversableAgent/base.py
  autogen/agentchat/conversableAgent/conversable_agent.py
Due: build-setup-scripts, lint, mypy, check-license-headers

sync: messaging
  autogen/agentchat/conversableAgent/massaging.py
Due: build-setup-scripts, lint, mypy, check-license-headers

sync: reply handlers
  autogen/agentchat/conversableAgent/hooks_and_registry.py
  autogen/agentchat/conversableAgent/reply_handlers.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: pre-commits
  autogen/agentchat/conversableAgent/conversable_agent.py
  autogen/agentchat/conversableAgent/reply_handlers.py
Due: build-setup-scripts, lint, mypy, check-license-headers
